{% extends 'base.html.twig' %}

{% block content %}
  <section class="content-header">
    <h1>
      Concurso
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa fa-users"></i> Preparadores</li>
      <li class="active"> Concurso</li>
    </ol>
  </section>
  </br>
  <div class="row">
      <section class="content-body">
        <div class="col-md-offset-1 col-md-10">
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">Listado de Concursos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="tabla" class="table table-hover table-bordered table-responsive">
                <thead>
                  <tr>
                    <th>Nro</th>
                    <th>Nombre</th>
                    <th>Estatus</th>
                    <th id="accionesHead" class="hide">Acciones</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                  <tr>
                    <th>Nro</th>
                    <th>Nombre</th>
                    <th>Estatus</th>
                    <th id="accionesFoot" class="hide">Acciones</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        
        <!-- Modal Detalles-->
        <div class="modal" id="detalles" role="dialog" aria-labelledby="modalDetalles">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Detalles</h3>
              </div>
              <div id="detallesModalBody" class="modal-body overlay">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline" data-dismiss="modal">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Modal Cargando-->
        <div class="modal fade" id="cargando" role="dialog" data-keyboard="false" data-backdrop="static">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div>
              <img src="{{ asset('assets/images/carga.gif') }}" style="position: absolute; top:50%; left:50%; width:100px; margin-left:-50px; height:100px; margin-top:250px;"/>
              <br/>
              <!--<label style="position: absolute; top:50%; left:50%; width:200px; margin-left:-100px; height:100px; margin-top:200px; color: white; font: 150% sans-serif;">Guardando datos...</label>-->
            </div>
          </div>
        </div>
      </section>
    </div>
  
{% endblock %}

{% block custom_javascripts %}
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.js') }}"></script>
  <script src="{{ asset('assets/js/concursoPreparadores/concurso1.js') }}"></script>
{% endblock %}