{% extends 'base.html.twig' %}

{% block content %}
  <section class="content-header">
    <h1>
      Gestionar Apertura de Concurso
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa fa-users"></i> Preparadores</li>
      <li data-route="apertura_concurso_index">
        <a href="{{ path('apertura_concurso_index') }}">Apertura De Concurso</a>
      </li>
      <li class="active"> Gestionar</li>
    </ol>
    <div>
      <button type="button" class="btn btn-primary btn-xs fade">
        <i class="fa fa-download"></i> 
          Descargar Acta de Resultados
      </button>
    </div>
  </section>
  
  <br/>
  
  <div class="row">
    <section class="content-body">
      <div class="col-md-offset-1 col-md-10">
        <div class="box box-info">
          <div class="box-header with-border text-center">
            <h3 class="box-title"><b>Datos de la Solicitud</b></h3>
          </div>
          <div class="box-body">
            <div class="col-md-offset-4 col-md-6">
              <div id="detallesSolicitudSeleccionada" ></div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="divAprobarPresupuesto" class="col-md-offset-1 col-md-10 hide">
        <div class="box box-info collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title"><b>Aprobar Presupuesto</b></h3>
            <div class="box-tools pull-right">
              <button id="closeAprobarPresupuesto" type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <form id="aprobarPresupuesto" role="form">
              <div class="box-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-4">
                      <label>¿Hay Presupuesto para el Cargo?</label>
                    </div>
                    <div class="col-xs-2">
                      <div class="radio">
                        <label> 
                          <input type="radio" name="optionsPresupuesto" value="Si"> 
                            SI 
                        </label> 
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsPresupuesto" value="No"> 
                            NO 
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <button id="enviarAprobarPresupuesto" type="button" class="btn btn-info btn-block">Enviar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
      
      <div id="divAprobarJurado" class="col-md-offset-1 col-md-10 hide">
        <div class="box box-info collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title"><b>Aprobar Jurado</b></h3>
            <div class="box-tools pull-right">
              <button id="closeAprobarJurado" type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <form id="aprobarJurado" role="form">
              <div class="box-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-4">
                      <label>¿Aprueba el Jurado de la Solicitud?</label>
                    </div>
                    <div class="col-xs-2">
                      <div class="radio">
                        <label> 
                          <input type="radio" name="optionsJurado" value="Si"> 
                            SI 
                        </label> 
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsJurado" value="No"> 
                            NO 
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <button id="enviarAprobarJurado" type="button" class="btn btn-info btn-block">Siguiente</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
      
      <div id="divCambiarJurado" class="col-md-offset-1 col-md-10 hide">
        <div class="box box-info collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title"><b>Cambiar Jurado</b></h3>
            <div class="box-tools pull-right">
              <button id="closeCambiarJurado" type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <form id="cambiarJurado" role="form">
            <div class="box-body">
              <div class="col-md-5">
                <h3 class="text-center"><b>Propuesto</b></h3>
                <div class="form-group">
                  <label for="juradoCoord">Jurado Coordinador</label>
                  <input id="juradoCoord" type="text" class="form-control" disabled>
                </div>
                <div class="form-group">
                  <label for="juradoPpal1">Jurado Principal 1</label>
                  <input id="juradoPpal1" type="text" class="form-control" disabled>
                </div>
                <div class="form-group">
                  <label for="juradoPpal2">Jurado Principal 2</label>
                  <input id="juradoPpal2" type="text" class="form-control" disabled>
                </div>
                <div class="form-group">
                  <label for="juradoSpl1">Jurado Suplente 1</label>
                  <input id="juradoSpl1" type="text" class="form-control" disabled>
                </div>
                <div class="form-group">
                  <label for="juradoSpl2">Jurado Suplente 2</label>
                  <input id="juradoSpl2" type="text" class="form-control" disabled>
                </div>
              </div>
              <div class="col-md-1">
                <span></span>
              </div>
              <div class="col-md-5">
                <h3 class="text-center text-navy"><b>Nuevo</b></h3>
                
                <div id="divNewJurCoord" class="form-group">
                  <label for="NewJurCoord">Jurado Coordinador</label>
                  <input id="NewJurCoord" type="text" class="form-control" placeholder="Jurado Coordinador">
                </div>
                <div id="divNewJurPpal1" class="form-group">
                  <label for="NewJurPpal1">Jurado Principal 1</label>
                  <input id="NewJurPpal1" type="text" class="form-control" placeholder="Jurado Principal 1">
                </div>
                <div id="divNewJurPpal2" class="form-group">
                  <label for="NewJurPpal2">Jurado Principal 2</label>
                  <input id="NewJurPpal2" type="text" class="form-control" placeholder="Jurado Principal 2">
                </div>
                <div id="divNewJurSupl1" class="form-group">
                  <label for="NewJurSupl1">Jurado Suplente 1</label>
                  <input id="NewJurSupl1" type="text" class="form-control" placeholder="Jurado Suplente 1">
                </div>
                <div id="divNewJurSupl2" class="form-group">
                  <label for="NewJurSupl2">Jurado Suplente 2</label>
                  <input id="NewJurSupl2" type="text" class="form-control" placeholder="Jurado Suplente 2">
                </div>
              </div>
            </div>
            <div class="box-footer">
              <div class="col-sm-offset-4 col-sm-4">
                <button id="siguienteCambiarJurado" type="button" class="btn btn-info btn-block">Siguiente</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div id="divVeredicto" class="col-md-offset-1 col-md-10 hide">
        <div  class="box box-info collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title"><b>Registrar Veredicto de la Solicitud</b></h3>
            <div class="box-tools pull-right">
              <button id="closeVeredicto" type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <form id="veredicto" role="form">
              <div class="box-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-4">
                      <label>¿Aprueba la Solicitud?</label>
                    </div>
                    <div class="col-xs-2">
                      <div class="radio">
                        <label> 
                          <input type="radio" name="optionsVeredicto" value="Si"> 
                            SI 
                        </label> 
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsVeredicto" value="No"> 
                            NO 
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Veredicto</label>
                  <textarea id="obsVeredicto" class="form-control" rows="3" placeholder="Ingrese aquí las observaciones sobre el veredicto de la solicitud" style="resize:none"></textarea>
                </div>
              </div>
              <div class="box-footer">
                <div class="col-sm-offset-4 col-sm-4">
                  <button id="cargarVeredicto" type="button" class="btn btn-info btn-block">Cargar Veredicto</button>
                </div>
              </div>
            </form>
        </div>
      </div>
      
      <div id="divFechaRecepDoc" class="col-md-offset-1 col-md-10 hide">
        <div class="box box-info collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title"><b>Registrar Fecha de Recepcion de Documentos</b></h3>
            <div class="box-tools pull-right">
              <button id="closeFechaRecepDoc" type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
                      
          <form id="fechaRecepDoc" role="form">
              <div class="box-body">
                <div class="form-group">
                  <div class="row">
                    <div id="divFecha" class="form-group has-feedback">
                          <div class="col-xs-4">
                            <label for="fecha">Fecha:</label>
                          </div>
                        <div class="col-xs-4">
                          <div class="input-group date" id="dateTime2">
                              <input id="fecha" type="text" class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                          </div>
                        </div>
                          <div class="col-xs-2">
                            <button id="enviarFechaRecepDoc" type="button" class="btn btn-info btn-block">Enviar</button>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
      
      <!-- Modal Cargando-->
      <div class="modal fade" id="cargando" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div>
            <img src="{{ asset('assets/images/carga.gif') }}" style="position: absolute; top:50%; left:50%; width:100px; margin-left:-50px; height:100px; margin-top:250px;"/>
            <br/>
            <label style="position: absolute; top:50%; left:50%; width:200px; margin-left:-100px; height:100px; margin-top:200px; color: white; font: 150% sans-serif;">Enviando datos...</label>
          </div>
        </div>
      </div>
      
      <!-- Modal Cargando Acciones Permitidas-->
      <div class="modal fade" id="cargandoAcciones" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div>
            <img src="{{ asset('assets/images/carga.gif') }}" style="position: absolute; top:50%; left:50%; width:100px; margin-left:-50px; height:100px; margin-top:250px;"/>
            <br/>
            <label style="position: absolute; top:50%; left:50%; width:200px; margin-left:-100px; height:100px; margin-top:200px; color: white; font: 150% sans-serif;"></label>
          </div>
        </div>
      </div>
      
    </section>
  </div>
  
{% endblock %}

{% block custom_javascripts %}
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.js') }}"></script>
  <script src="{{ asset('assets/js/concursoPreparadores/gestionarAperturaConcurso.js') }}"></script>

{% endblock %}



