{% extends 'base.html.twig' %}

{% block content %}
  <section class="content-header">
    <h1>
      Gestionar Concurso
    </h1>
    <ol class="breadcrumb">
      <li><i class="fa fa fa-users"></i> Preparadores</li>
      <li data-route="concurso_index">
        <a href="{{ path('concurso_index') }}">Concurso</a>
      </li>
      <li class="active"> Gestionar</li>
    </ol>
  </section>
  
  <br/>
  
  <div class="row">
    <section class="content-body">
      <div class="col-md-offset-1 col-md-10">
        <div class="box box-info">
          <div class="box-header with-border text-center">
            <h3 class="box-title"><b>Datos del Concurso</b></h3>
          </div>
          <div class="box-body">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
              <div id="detalleConcursoSeleccionado"></div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="divConcursoDesierto" class="col-md-offset-1 col-md-10">
        <div class="box box-info collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title"><b>Declarar Concurso Desierto</b></h3>
            <div class="box-tools pull-right">
              <button id="closeConcursoDesierto" type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <form id="concursoDesierto" role="form">
              <div class="box-body">
                <div id="divCausalDesierto" class="form-group">
                  <label for="causalDesierto">Causal de Concurso Desierto</label>
                  <textarea id="causalDesierto" class="form-control" rows="3" placeholder="Ingrese aquí el causal del concurso desierto" style="resize:none"></textarea>
                </div>
              </div>
              <div class="box-footer">
                <div class="col-sm-offset-4 col-sm-4">
                  <button id="cargarConcursoDesierto" type="button" class="btn btn-info btn-block">Cargar Causal</button>
                </div>
              </div>
            </form>
        </div>
      </div>
      
      <div id="divAspirantes" class="col-md-offset-1 col-md-10">
        <div class="box box-info collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title"><b>Aspirantes</b></h3>
            <div class="box-tools pull-right">
              <button id="closeAspirantes" type="button" class="btn btn-box-tool" data-widget="collapse">
                <i id="iconCloseAspirantes" class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <div id="nuevoAspirante"  class="box box-success box-solid collapsed-box">
              <div class="box-header with-border">
                <h5 class="box-title">
                    Registrar Aspirante
                </h5>
                <div class="box-tools pull-right">
                  <button id="closeNuevoAspirante" type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <form name="newAspiranteForm" id="newAspiranteForm" action="{{ path('registrar_aspirante_ajax') }}" method="post" enctype="multipart/form-data" novalidate>
              {#<form id="cambiarJurado" role="form">#}
                <div class="hide">
                  <input id="IdConcurso" name="IdConcurso" type="text">
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-5">
                      <div id="divCedula" class="form-group has-feedback">
                        <label for="Cedula">Cédula</label>
                        <input id="Cedula" name="Cedula" type="email" class="form-control" placeholder="Ingrese el N° de Cedula">
                        <span id="spanEmailUser" class="glyphicon glyphicon-credit-card form-control-feedback"></span>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <span></span>
                    </div>
                    <div class="col-md-5">
                      <div id="divCorreo" class="form-group has-feedback">
                        <label for="Correo">Correo Electrónico</label>
                        <input id="Correo" name="Correo" type="email" class="form-control" placeholder="Email">
                        <span id="spanEmailUser" class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div id="divPrimerNombre" class="form-group">
                        <label for="PrimerNombre">Primer nombre</label>
                        <input id="PrimerNombre" name="PrimerNombre" type="text" class="form-control" placeholder="Primer nombre" required>
                      </div>
                      <div id="divSegundoNombre" class="form-group">
                        <label for="SegundoNombre">Segundo nombre</label>
                        <input id="SegundoNombre" name="SegundoNombre" type="text" class="form-control" placeholder="Segundo nombre" required>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <span></span>
                    </div>
                    <div class="col-md-5">
                      <div id="divPrimerApellido" class="form-group">
                        <label for="PrimerApellido">Primer apellido</label>
                        <input id="PrimerApellido" name="PrimerApellido" type="text" class="form-control" placeholder="Primer apellido" required>
                      </div>
                      <div id="divSegundoApellido" class="form-group">
                        <label for="SegundoApellido">Segundo apellido</label>
                        <input id="SegundoApellido" name="SegundoApellido" type="text" class="form-control" placeholder="Segundo apellido" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div id="divTelefono" class="form-group">
                        <label for="Telefono">Teléfono</label>
                        <div id="Telefono" class="row">
                            <div class="col-xs-4">
                              <input id="TelefonoArea" name="TelefonoArea" type="number" class="form-control" placeholder="Cod. Area" min="100" max="999" required>
                            </div>
                            <strong><label class="col-xs-1">—</label></strong>
                            <div class="col-xs-7">
                              <input id="TelefonoNumero" name="TelefonoNumero" type="number" class="form-control" placeholder="Nro. de telefono" min="1000000" max="9999999" required>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <span></span>
                    </div>
                    <div class="col-md-5">
                      <div id="divTelefonoSecundario" class="form-group">
                        <label for="TelefonoSecundario">Teléfono Secundario</label>
                        <div id="TelefonoSecundario" class="row">
                            <div class="col-xs-4">
                              <input id="TelefonoSecundarioArea" name="TelefonoSecundarioArea" type="number" class="form-control" placeholder="Cod. Area" min="100" max="999">
                            </div>
                            <strong><label class="col-xs-1">—</label></strong>
                            <div class="col-xs-7">
                              <input id="TelefonoSecundarioNumero" name="TelefonoSecundarioNumero" type="number" class="form-control" placeholder="Nro. de telefono" min="1000000" max="9999999">
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div id="divPromedio" class="form-group">
                        <label for="Promedio">Promedio Académico</label>
                        <input id="Promedio" name="Promedio" type="number" class="form-control" placeholder="Promedio" min="10" max="20" required>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <span></span>
                    </div>
                    <div class="col-md-5">
                      <div class="row">
                        <div id="divNota1" class="form-group col-xs-6">
                          <label for="Nota1">Nota Intento 1</label>
                          <input id="Nota1" name="Nota1" type="number" class="form-control" placeholder="Nota 1" min="5" max="20" required>
                        </div>
                        
                        <div id="divNota2" class="form-group col-xs-6">
                          <label for="Nota2">Nota Intento 2</label>
                          <input id="Nota2" name="Nota2" type="number" class="form-control" placeholder="Nota 2" min="5" max="20" required>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div id="divComunicacionEscrita" class="form-group has-feedback">
                        <label class="control-label">Seleccione la Comunicación Escrita</label>
                        <input id="ComunicacionEscrita" name="input[]" accept="application/pdf"  type="file" class="file-loading" data-show-upload="false" data-show-caption="true">
                      </div>
                    </div>
                    <div class="col-md-1">
                      <span></span>
                    </div>
                    <div class="col-md-5">
                      <div id="divCartaConducta" class="form-group has-feedback">
                        <label class="control-label">Seleccione la Carta de Conducta</label>
                        <input id="CartaConducta" name="input1[]" accept="application/pdf"  type="file" class="file-loading" data-show-upload="false" data-show-caption="true">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div id="divReporteNota" class="form-group has-feedback">
                        <label class="control-label">Seleccione el Reporte de Notas</label>
                        <input id="ReporteNota" name="input2[]" accept="application/pdf"  type="file" class="file-loading" data-show-upload="false" data-show-caption="true">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <div class="col-sm-offset-4 col-sm-4">
                    <button id="guardarAspirante" type="button" class="btn btn-success btn-block">Guardar  <i class="fa fa-save"></i></button>
                  </div>
                </div>
              </form>
            </div>
            {#<br/><br/>#}
            <table id="aspirantes" class="table table-hover table-bordered table-responsive">
              <thead>
                <tr>
                  <th>Cédula</th>
                  <th>Nombre Completo</th>
                  <th>Correo Electrónico</th>
                  <th>Teléfono</th>
                  <th id="accionesHead" class="hide">Acciones</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
              <tfoot>
                <tr>
                  <th>Cédula</th>
                  <th>Nombre Completo</th>
                  <th>Correo Electrónico</th>
                  <th>Teléfono</th>
                  <th id="accionesFoot" class="hide">Acciones</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      
      <div id="divFechaEvaluacion" class="col-md-offset-1 col-md-10 ">
        <div class="box box-info collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title"><b>Registrar Fecha de Evaluacion</b></h3>
            <div class="box-tools pull-right">
              <button id="closeFechaEvaluacion" type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
                      
          <form id="fechaEvaluacion" role="form">
              <div class="box-body">
                <div class="col-sm-offset-4 col-sm-4">
                  <div  id="divFecha" class="form-group has-feedback">
                    <label for="fecha">Fecha:</label>
                    <div class="input-group date" id="dateTime1">
                        <input id="fecha" type="text" class="form-control"/>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <div class="col-sm-offset-4 col-sm-4">
                  <button id="enviarFechaEvaluacion" type="button" class="btn btn-info btn-block">Enviar</button>
                </div>
              </div>
            </form>
        </div>
      </div>
      
      <div id="divProposicionNombramiento" class="col-md-offset-1 col-md-10">
        <div  class="box box-info collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title"><b>Registrar Proposición del Nombramiento</b></h3>
            <div class="box-tools pull-right">
              <button id="closeProposicionNombramiento" type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
          <form id="proposicionNombramiento" role="form">
              <div class="box-body">
                <div class="form-group">
                  <label>Proposición del Nombramiento</label>
                  <textarea id="obsProposicionNombramiento" class="form-control" rows="3" placeholder="Ingrese aquí las observaciones sobre la Proposición del Nombramiento" style="resize:none"></textarea>
                </div>
              </div>
              <div class="box-footer">
                <div class="col-sm-offset-4 col-sm-4">
                  <button id="cargarProposicionNombramiento" type="button" class="btn btn-info btn-block">Cargar Proposición de Nombramiento</button>
                </div>
              </div>
            </form>
        </div>
      </div>
      
      <!-- Modal Detalles-->
      <div class="modal" id="detalles" role="dialog" aria-labelledby="modalDetalles">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h3 class="modal-title" id="myModalLabel">Detalles del Aspirante</h3>
            </div>
            <div id="detallesModalBody" class="modal-body overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline" data-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Modal Guardando Datos-->
      <div class="modal fade" id="guardandoDatos" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div>
            <img src="{{ asset('assets/images/carga.gif') }}" style="position: absolute; top:50%; left:50%; width:100px; margin-left:-50px; height:100px; margin-top:250px;"/>
            <br/>
            <label style="position: absolute; top:50%; left:50%; width:200px; margin-left:-100px; height:100px; margin-top:200px; color: white; font: 150% sans-serif;">Guardando datos...</label>
          </div>
        </div>
      </div>
      
      <!-- Modal Cargando-->
      <div class="modal fade" id="cargando" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div>
            <img src="{{ asset('assets/images/carga.gif') }}" style="position: absolute; top:50%; left:50%; width:100px; margin-left:-50px; height:100px; margin-top:250px;"/>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block custom_javascripts %}
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.js') }}"></script>
  <script src="{{ asset('assets/js/concursoPreparadores/gestionarConcurso1.js') }}"></script>

{% endblock %}

