{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/plan-septenal.css') }}">
{% endblock %}

{% block content %}

  <section class="content-header">
    <h1>Plan Septenal Colectivo</h1>
    <ol class="breadcrumb">
      <li><i class="fa fa fa-calendar"></i> Plan Septenal</li>
      <li class="active">Colectivo</li>
    </ol>
  </section>

  <section class="content" id="plan-septenal-colectivo-main-section">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h2 class="box-title">Proceso de creación de Plan Septenal Colectivo {{ next_year }}-{{ next_year + 6 }}</h2>
          </div>
          <div class="box-body">
            <div id="plan-septenal-colectivo-creation">
              <form class="form-inline" action="{{ path('start-creation-of-plan-septenal-colectivo') }}" style="display: none;">
                <div class="form-group">
                  <input type="hidden" id="start_year" name="start_year" value="{{ next_year }}">
                  <label for="creation_deadline" class="form-label">Fecha de finalización:</label>
                  <input type="text" class="datepicker form-control" id="creation_deadline">
                </div>
                <button class="btn btn-primary btn-flat" id="start-creation-btn" type="submit">Iniciar proceso de creación</button>
              </form>
              <div id="creation-progress" style="display: none;">
                <h4>Lista de Planes Septenales Individuales</h4>
                <table id="planes-septenales-individuales-table" class="display" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Profesor</th>
                      <th>Trámites</th>
                      <th>Status</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="details-viewer" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="box box-primary">
            <div class="box-header with-border modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title">Plan Septenal Individual</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="plan-septenal-individual" data-route="{{ path('create-plan-septenal-individual') }}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block custom_javascripts %}
  <script src="{{ asset('assets/js/PlanSeptenal/grid-selection.js') }}"></script>
  <script src="{{ asset('assets/js/PlanSeptenal/plan-septenal-individual.js') }}"></script>
  <script src="{{ asset('assets/js/PlanSeptenal/plan-septenal-colectivo.js') }}"></script>
  <script>
    $(".datepicker").datepicker({
      startDate: "+1m"
    });
    toastr.options = {
      positionClass: "toast-bottom-center"
    };
    planSeptenalColectivo.getPlanSeptenalColectivoOfNextYear("{{ path('get-plan-septenal-colectivo') }}");
  </script>
{% endblock %}
