{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/plan-septenal.css') }}">
{% endblock %}

{% block content %}

  <base href="{{ app.request.getSchemeAndHttpHost() }}">
  <section class="content-header">
    <h1>Plan Septenal Individual</h1>
    <ol class="breadcrumb">
      <li><i class="fa fa fa-calendar"></i>Plan Septenal</li>
      <li class="active">Individual</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h2 class="box-title">Creación de Plan Septenal Individual</h2>
            <h4 id="status" class="pull-right"></h4>
          </div>
          <div class="box-body">
            <div id="plan-septenal-individual"></div>
          </div>
          <div class="box-footer">
            <button id="btn-save" class="btn btn-primary btn-flat pull-right" style="display: none;">Guardar cambios</button>
            <button id="btn-request-approval" class="btn btn-success btn-flat pull-right" style="display: none;">Solicitar aprobación</button>
            <a class="btn btn-default btn-flat pull-left" href="/" class="btn btn-default">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block custom_javascripts %}
  <script src="{{ asset('assets/js/PlanSeptenal/common.js') }}"></script>
  <script src="{{ asset('assets/js/PlanSeptenal/routes.js') }}"></script>
  <script src="{{ asset('assets/js/PlanSeptenal/grid-selection.js') }}"></script>
  <script src="{{ asset('assets/js/PlanSeptenal/plan-septenal-individual.js') }}"></script>
  <script>
    toastr.options = {
      positionClass: "toast-bottom-center"
    };

    var app = {
      container: $("#plan-septenal-individual"),
      plan: null,
      next_year: (new Date().getFullYear() + 1)
    };

    attemptToLoadPlanIndividual(app, app.next_year, "{{ path('create-plan-septenal-individual') }}");
  </script>
{% endblock %}
