{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>Registrar Usuario</h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-fa fa-address-card-o"></i>Registro único</li>
        <li class="active">Registro de Usuarios</li>
      </ol>
    </section>
    
    <br/>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div>
          <img src="{{ asset('assets/images/carga.gif') }}" style="position: absolute; top:50%; left:50%; width:350px; margin-left:-200px; height:350px; margin-top:20%;"/>
          <br/>
          <label style="position: absolute; top:50%; left:60%; width:400px; margin-left:-200px; height:300px; margin-top:5%; color: white; font: 150% sans-serif;">Guardando datos...</label>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Success message-->
      <section class="content-body col-md-offset-2 col-md-8">
        <br/>
        <div class="register-box-body">
            <form>
              <img src="{{asset('assets/images/usuario.jpeg')}}" class="user-image col-sm-offset-5 col-xs-offset-3" alt="User Image">
              <div id="divEmailUser" class="form-group has-feedback">
                <label>Email</label>
                <input id="EmailUser" type="email" class="form-control" placeholder="Email">
                <span id="spanEmailUser" class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <div id="divCedulaUser" class="form-group has-feedback">
                <label>Cedula</label>
                <input id="CedulaUser" type="number" class="form-control" placeholder="Cedula">
                <span id="spanCedulaUser" class="glyphicon glyphicon-credit-card form-control-feedback"></span>
              </div>
              <div id="divPasswordUser" class="form-group has-feedback">
                <label>Contraseña</label>
                <input id="PasswordUser" type="password" class="form-control" placeholder="Contraseña">
                <span id="spanPasswordUser"class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
              <div id="divRetryPasswordUser" class="form-group has-feedback">
                <label>Repita la contraseña</label>
                <input id="RetryPasswordUser" type="password" class="form-control" placeholder="Repetir contraseña">
                <span id="spanRetryPasswordUser" class="glyphicon glyphicon-log-in form-control-feedback"></span>
              </div>
              <div id="divRolUser" class="form-group has-feedback">
                  <label>Tipo de rol</label>
                  <select id="rolUser" class="form-control select2" style="width: 100%;">
                  </select>
                  <span id="spanRolUser" class="glyphicon form-control-feedback"></span>
              </div>
              <hr/>
              <table id="tableRol" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>Rol</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                  <th></th>
                  <th>Rol</th>
                </tr>
                </tfoot>
              </table>
              <hr/>
              <div class="row">
                <div class="col-xs-12">
                  <button id="registrarUsuario" type="button" class="btn btn-primary btn-block btn-flat">Registrar</button>
                </div>
              </div>
            </form>
        </div>
      </section>
    </div>
    <br/><br/>
{% endblock %}

{% block custom_javascripts %}
  <script src="{{ asset('assets/js/RegistroUnico/configTable.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/RegistrarUsuario/iniRU.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/insertAndDeleteTable.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/RegistrarUsuario/registerUser.js') }}"></script>
{% endblock %}