<!DOCTYPE html>
<html id="html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SISTRAMDUC</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/bootstrap/css/bootstrap.min.css') }}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/Ionicons/css/ionicons.min.css') }}">
  <!-- datetimepicker -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/iCheck/flat/blue.css') }}">
  <!-- Date Picker -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/datepicker/datepicker3.css') }}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/daterangepicker/daterangepicker.css') }}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.css') }}">
  <!-- Toastr -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/toastr/toastr.min.css') }}">

  <!-- Select -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/select2/select2.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('assets/fonts/SourceSansPro/SourceSansPro.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/dist/css/AdminLTE.min.css') }}">

  <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/dist/css/skins/_all-skins.min.css') }}">
  <!-- Multiple inputs css -->
  <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-fileinput/css/fileinput.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/cursorLink.css') }}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  {% block stylesheets %}{% endblock %}
</head>
<body id="sidebar-mini-aux" class="hold-transition skin-blue sidebar-mini">
<div id="wraper-aux" class="wrapper">
  <header style="z-index:99;" class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>UC</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>SISTRAMD</b>UC</span>
    </a>

    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Usted tiene 0 mensajes</li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Usted tiene 0 notificaciones</li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"-->
              <span class="hidden-xs">{{ app.user.getNombreCorto() }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <!-- img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"-->
                <p>{{ app.user.getNombreCompleto() }}</p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                  <a href="{{ path('security_logout') }}" class="btn btn-default btn-flat">Salir</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside style="z-index:1;"  class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section id="sidebar" class="sidebar" data-current-route="{{ app.request.get('_route') }}">
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Buscar...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">Navegación Principal</li>
        <li data-route="inicio">
          <a href="{{ path('inicio') }}">
            <i class="fa fa-home"></i><span>Inicio</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-fa fa-address-card-o"></i><span>Registro Único</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li data-route="registro_usuario_index">
              <a href="{{ path('registro_usuario_index') }}"><i class="fa fa-circle-o"></i>Registro de usuario</a>
            </li>
            <li data-route="registro_datos_index">
              <a href="{{ path('registro_datos_index', { 'apr': 'initial' }) }}"><i class="fa fa-circle-o"></i>Registro de datos</a>
            </li>
            <li data-route="registro_consultarusuario_index">
              <a href="{{ path('registro_consultarusuario_index') }}"><i class="fa fa-circle-o"></i>Consultar y editar usuario</a>
            </li>
            <li data-route="registro_consulta_index">
              <a href="{{ path('registro_consulta_index', { 'apr': 'initial' }) }}"><i class="fa fa-circle-o"></i>Consultar y editar datos</a>
            </li>
            <li data-route="registro_validar_index">
              <a href="{{ path('registro_validar_index') }}"><i class="fa fa-circle-o"></i>Validar Registros</a>
            </li>
            <li data-route="registro_eliminar_index">
              <a href="{{ path('registro_eliminar_index') }}"><i class="fa fa-circle-o"></i>Desactivar usuario</a>
            </li>
            <li data-route="registro_activar_index">
              <a href="{{ path('registro_activar_index') }}"><i class="fa fa-circle-o"></i>Activar usuario</a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa fa-calendar"></i><span>Plan Septenal</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href=""><i class="fa fa-circle-o"></i> Plan Septenal Individual
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li data-route="plan-septenal-individual-creation-view">
                  <a href="{{ path('plan-septenal-individual-creation-view') }}"><i class="fa fa-circle-o"></i>Creación</a>
                </li>
                <li>
                  <a href=""><i class="fa fa-circle-o"></i>Actualización</a>
                </li>
              </ul>
            </li>
            <li>
              <a href=""><i class="fa fa-circle-o"></i> Plan Septenal Colectivo
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li data-route="plan-septenal-colectivo-creation-view">
                  <a href="{{ path('plan-septenal-colectivo-creation-view') }}"><i class="fa fa-circle-o"></i>Proceso de Creación</a>
                </li>
                <li>
                  <a href=""><i class="fa fa-circle-o"></i>Solicitudes de Actualización</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa fa-suitcase"></i><span>Reincorporación</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li data-route="reincorporacion">
             <a href="{{ path('reincorporacion') }}"><i class="fa fa-circle-o"></i>Inicio</a>
            </li>
            <li data-route="actualizar-curriculum">
              <a href="{{ path('actualizar-curriculum') }}"><i class="fa fa-circle-o"></i>Actualizar currículum</a>
            </li>
            <li data-route="subir-recaudos">
              <a href="{{ path('subir-recaudos') }}"><i class="fa fa-circle-o"></i>Subida de recaudos</a>
            </li>
            <li data-route="verificar-datos">
              <a href="{{ path('verificar-datos') }}"><i class="fa fa-circle-o"></i>Envío de solicitud</a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa fa-handshake-o"></i><span>Cláusulas Contractuales</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li data-route="">
              <a href="#"><i class="fa fa-circle-o"></i><span>Realizar solicitud</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li data-route="clausulas_contractuales_prima_hijosIndex">
                  <a href="{{ path('clausulas_contractuales_prima_hijosIndex', { 'state': 'initial' })}}"><i class="fa fa-circle-o"></i>Prima por hijos</a>
                </li>
                <li data-route="clausulas_contractuales_becaIndex">
                  <a href="{{path('clausulas_contractuales_becaIndex', { 'state': 'initial' })}}"><i class="fa fa-circle-o"></i>Beca académica para hijos</a>
                </li>
                <li data-route="clausulas_contractuales_discapacidadIndex">
                  <a href="{{path('clausulas_contractuales_discapacidadIndex', { 'state': 'initial' })}}"><i class="fa fa-circle-o"></i>Hijos con discapacidad</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="treeview-menu">
            <li data-route="">
              <a href="#"><i class="fa fa-circle-o"></i><span>Consultar solicitud</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li data-route="clausulas_contractuales_consultar_prima_hijos">
                  <a href="{{path('clausulas_contractuales_consultar_prima_hijos')}}"><i class="fa fa-circle-o"></i>Prima por hijos</a>
                </li>
                <li data-route="clausulas_contractuales_consultar_beca">
                  <a href="{{path('clausulas_contractuales_consultar_beca')}}"><i class="fa fa-circle-o"></i>Beca académica para hijos</a>
                </li>
                <li data-route="clausulas_contractuales_consultar_discapacidad">
                  <a href="{{path('clausulas_contractuales_consultar_discapacidad')}}"><i class="fa fa-circle-o"></i>Hijos con discapacidad</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="treeview-menu">
            <li data-route="">
              <a href="#"><i class="fa fa-circle-o"></i><span>Reportes</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li data-route="clausulas_contractuales_rendicion_por_frecuencia_index">
                  <a href="{{path('clausulas_contractuales_rendicion_por_frecuencia_index')}}"><i class="fa fa-circle-o"></i>Rendición por frecuencia</a>
                </li>
                <li data-route="clausulas_contractuales_rendicion_por_monto_index">
                  <a href="{{path('clausulas_contractuales_rendicion_por_monto_index')}}"><i class="fa fa-circle-o"></i>Rendición por monto</a>
                </li>
                <li data-route="clausulas_contractuales_indicador_de_reproceso_index">
                  <a href="{{path('clausulas_contractuales_indicador_de_reproceso_index')}}"><i class="fa fa-circle-o"></i>Indicador de reproceso</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i><span>Preparadores</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="#">
                <i class="fa fa fa-circle-o"></i><span>Apertura De Concurso</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li data-route="apertura_concurso_index">
                  <a href="{{ path('apertura_concurso_index') }}"><i class="fa fa-circle-o"></i>Inicio</a>
                </li>
                <li data-route="solicitar">
                  <a href="{{ path('solicitar') }}"><i class="fa fa-circle-o"></i>Solicitar</a>
                </li>
              </ul>
            </li>
            <li data-route="concurso_index">
              <a href="{{ path('concurso_index') }}"><i class="fa fa-circle-o"></i>Concurso</a>
            </li>
            <li data-route="renuncia_preparador_index">
              <a href="{{ path('renuncia_preparador_index') }}"><i class="fa fa-circle-o"></i>Gestionar Renuncia</a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-fw fa-money"></i><span>Comisión de Servicio</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% if userHasPermission("comisión de servicio - ver información") %}
              <li data-route="comision-servicio-informacion">
                <a href="{{ path('comision-servicio-informacion') }}"><i class="fa fa-circle-o"></i>Información</a>
              </li>
            {% endif %}
            {% if userHasPermission("comisión de servicio - consultar") %}
              <li data-route="solicitudcomisionservicio_new" id="solicitarComision">
                <a href="{{ path('solicitudcomisionservicio_new', { 'apr': 'initial' }) }}"><i class="fa fa-circle-o"></i>Realizar Solicitud</a>
              </li>
            {% endif %}
            {% if userHasPermission("comisión de servicio - estado de solicitud") %}
              <li data-route="estado-solicitud">
                <a href="{{ path('estado-solicitud') }}"><i class="fa fa-circle-o"></i>Estado Solicitud</a>
              </li>
            {% endif %}
            {% if userHasPermission("comisión de servicio - departamento - ver solicitud") %}
              <li data-route="comision_servicio_solicitudes">
                <a href="{{ path('comision_servicio_solicitudes') }}"><i class="fa fa-circle-o"></i>Ver SolicitudesConsejo</a>
              </li>
            {% endif %}
            {% if userHasPermission("comisión de servicio - catedra - ver solicitud") %}
              <li data-route="comision_servicio_solicitudes_catedra">
                <a href="{{ path('comision_servicio_solicitudes_catedra') }}"><i class="fa fa-circle-o"></i>Ver SolicitudesCatedra</a>
              </li>
            {% endif %}
            {% if userHasPermission("comisión de servicio - facultad - ver solicitud") %}
              <li data-route="comision_servicio_solicitudes_facultad">
                <a href="{{ path('comision_servicio_solicitudes_facultad') }}"><i class="fa fa-circle-o"></i>Ver SolicitudesFacultad</a>
              </li>
            {% endif %}
            {% if userHasPermission("comisión de servicio - ver solicitudes AAPP") %}
              <li data-route="comision_servicio_solicitudes_aapp">
                <a href="{{ path('comision_servicio_solicitudes_aapp') }}"><i class="fa fa-circle-o"></i>Ver SolicitudesAAPP</a>
              </li>
            {% endif %}
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-fw fa-child"></i><span>Jubilación</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li data-route="jubilacion-informacion">
              <a href="{{ path('jubilacion-informacion') }}"><i class="fa fa-circle-o"></i>Información</a>
            </li>
            <li data-route="jubilacion-solicitud">
              <a href="{{ path('jubilacion-solicitud') }}"><i class="fa fa-circle-o"></i>Realizar Solicitud</a>
            </li>
            <li data-route="jubilacion-estado-solicitud">
              <a href="{{ path('jubilacion-estado-solicitud') }}"><i class="fa fa-circle-o"></i>Estado Solicitud</a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i><span>Concurso de Opsosición</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
          
          	<li data-route="requisicionRRHH">
              <a href="{{ path('requisicionRRHH') }}"><i class="fa fa-circle-o"></i>Requisición RR.HH.</a>
            </li>
            
            
            
            <li class="treeview">
              <a href="#">
                <i class="fa fa-circle-o"></i><span>Concursos</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li data-route="tablaBasicaConcurso">
                  <a href="{{ path('tablaBasicaConcurso') }}"><i class="fa fa-circle-o"></i>Listado</a>
                </li>
              </ul>
            </li>

            <!--

            <li class="treeview">
              <a href="#">
                <i class="fa fa-circle-o"></i><span>Jurados</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li data-route="jurado">
                  <a href="{{ path('jurado') }}"><i class="fa fa-circle-o"></i>Registrar Jurados</a>
                </li>
                <li data-route="listarJurados">
                  <a href="{{ path('listarJurados') }}"><i class="fa fa-circle-o"></i>Listado de Jurados</a>
                </li>
                <li data-route="suplentesJurado">
                  <a href="{{ path('suplentesJurado') }}"><i class="fa fa-circle-o"></i>Registrar Suplentes</a>
                </li>
                <li data-route="listarSuplentes">
                  <a href="{{ path('listarSuplentes') }}"><i class="fa fa-circle-o"></i>Listado de Suplentes</a>
                </li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-circle-o"></i><span>CPEC</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li data-route="cpec">
                  <a href="{{ path('cpec') }}"><i class="fa fa-circle-o"></i>Registrar CPEC</a>
                </li>
                <li data-route="listarCPEC">
                  <a href="{{ path('listarCPEC') }}"><i class="fa fa-circle-o"></i>Listado de CPEC</a>
                </li>
                <li data-route="suplentesCPEC">
                  <a href="{{ path('suplentesCPEC') }}"><i class="fa fa-circle-o"></i>Registrar Suplentes</a>
                </li>
                <li data-route="listarSuplentesCPEC">
                  <a href="{{ path('listarSuplentesCPEC') }}"><i class="fa fa-circle-o"></i>Listado de Suplentes</a>
                </li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-circle-o"></i><span>Aspirantes</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li data-route="registro_usuario_oposicion">
                  <a href="{{ path('registro_usuario_oposicion') }}"><i class="fa fa-circle-o"></i>Registrar Aspirante</a>
                </li>
                <li data-route="listaAspirantes">
                  <a href="{{ path('listaAspirantes') }}"><i class="fa fa-circle-o"></i>Listado de Aspirantes</a>
                </li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-circle-o"></i><span>Recusaci&oacute;n</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li data-route="recusacion_oposicion">
                  <a href="{{ path('recusacion_oposicion') }}"><i class="fa fa-circle-o"></i>Registrar Recusaci&oacute;n</a>
                </li>
                <li data-route="listaRecusacion">
                  <a href="{{ path('listaRecusacion') }}"><i class="fa fa-circle-o"></i>Listado de Recusaciones</a>
                </li>
              </ul>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-circle-o"></i><span>Resultados</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li data-route="resultados">
                  <a href="{{ path('resultados') }}"><i class="fa fa-circle-o"></i>Registrar Resultados</a>
                </li>
              </ul>
            </li>
            
            -->

          </ul>
        </li>
        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-fw fa-clock-o"></i><span>Descarga Horaria</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li data-route="descarga_horaria_informacion">
              <a href="{{ path('descarga_horaria_informacion') }}"><i class="fa fa-circle-o"></i>Información</a>
            </li>
            <li data-route="descarga_horaria_generar_oficio_solicitud">
              <a href="{{ path('descarga_horaria_generar_oficio_solicitud') }}"><i class="fa fa-circle-o"></i>Generar Oficio de Solicitud</a>
            </li>
            <li data-route="descarga_horaria_solicitud">
              <a href="{{ path('descarga_horaria_solicitud') }}"><i class="fa fa-circle-o"></i>Realizar Solicitud</a>
            </li>

            <li data-route="descarga_horaria_cargos_adm_univ">
              <a href="{{ path('descarga_horaria_cargos_adm_univ') }}"><i class="fa fa-circle-o"></i>Cargos</a>
            </li>
            
          </ul>
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div id="content-wrapper-aux" class="content-wrapper">
    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Desarrollado por <a href="http://www.facyt.uc.edu.ve/">FACYT</a></b>
    </div>
    <strong>Sistema de Gestión de Trámites Administrativos de la Universidad de Carabobo (SISTRAMDUC)</strong>
    <input id="url" type="text" class="form-control hidden" value="{{ asset('assets/vendor/bootstrap-fileinput/css/fileinput.min.css') }}"/>
  </footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="{{ asset('assets/vendor/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ asset('assets/vendor/AdminLTE/plugins/jQueryUI/jquery-ui.min.js') }}"></script>

<script>
  // Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
  $.widget.bridge('uibutton', $.ui.button);
  // Activate sidebar items accordingly
  var current_route = $("#sidebar").data('current-route'),
    $li = $("[data-route='" + current_route + "']").addClass('active'),
    $ul = $li.parent('ul');
  if ($ul.is('.treeview-menu')) {
    $ul.addClass('menu-open');
    $ul.parent('li.treeview').addClass('active');
  }
  if ($ul.is('.treeview-menu')) {
    $ul.addClass('menu-open');
    $ul.parent('li').addClass('active');
    $ul.parent('li').parent('ul').addClass('menu-open');
    $ul.parent('li').parent('ul').parent('li.treeview').addClass('active');
  }
</script>
{% include('rutas.html.twig') %}
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset('assets/vendor/AdminLTE/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- daterangepicker -->
<script src="{{ asset('assets/vendor/AdminLTE/plugins/daterangepicker/moment.js') }}"></script>
<script src="{{ asset('assets/vendor/AdminLTE/plugins/daterangepicker/daterangepicker.js') }}"></script>
<!-- DataTables -->
<script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
<!-- datepicker -->
<script src="{{ asset('assets/vendor/AdminLTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
<!-- Slimscroll -->
<script src="{{ asset('assets/vendor/AdminLTE/plugins/slimScroll/jquery.slimscroll.js') }}"></script>
<!-- bootstrap-datetimepicker -->
<script src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
<!-- Slide to top -->
<script src="{{ asset('assets/js/SlideToTop.js') }}"></script>
<!-- Toastr -->
<script src="{{ asset('assets/vendor/toastr/toastr.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('assets/vendor/AdminLTE/dist/js/app.js') }}"></script>
<!-- Multiple Inputs Js -->
<script src="{{ asset('assets/vendor/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap-fileinput/js/plugins/sortable.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap-fileinput/js/plugins/purify.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap-fileinput/js/fileinput.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap-fileinput/themes/fa/theme.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap-fileinput/js/locales/es.js') }}"></script>

<script>
  $.fn.datepicker.defaults.format = "dd/mm/yyyy";

  $.extend( true, $.fn.dataTable.defaults, {
    "language": {
      "url": "{{ asset('assets/js/datatable-spanish.json') }}"
    }
  });
</script>
{#
<script>
  $("#solicitarComision").click(function (){
    $.ajax({
      url : {{ path('validar-usuario') }},
      dataType: 'json',
      success: function(data){

        if (data == "valido"){
          $form.submit(function(e) {
            var data = $form.serialize();
            $.ajax({
              url : {{ path('validar-usuario') }},
              type: $form.attr('method'),
              success: function(html) {

                $('#comisionremuneradabundle_solicitudcomisionservicio').replaceWith(
                        $(html).find('#comisionremuneradabundle_solicitudcomisionservicio')
                );
                $('#notice').html('#notice');
                /*$('#notice').replaceWith(
                 // ... Con la respuesta ajax
                 $(html).show('#notice')
                 );*/
              }
            });
          });
        }
        else(){

        }
      }
    });
  });
    toastr.clear();
    var text = "";

    var motivo = $('#motivo').val();
    var continua = true;

    if (motivo == ""){
      continua = false;
      $('#spanMotivo').removeClass("hide");
      text = "Campo vacío";
    }
  });

  $form.submit(function(e) {
    //Agregamos los campos del formulario
    var data = $form.serialize();
    //Realizamos la petición
    $.ajax({
      url : {{ path('solicitudcomisionservicio_new') }},//$form.attr('action'),
      type: $form.attr('method'),
      data : data,
      success: function(html) {

        // Remplazamos la forma actual.
        $('#comisionremuneradabundle_solicitudcomisionservicio').replaceWith(
                // ... Con la respuesta ajax
                $(html).find('#comisionremuneradabundle_solicitudcomisionservicio')
        );
        $('#notice').html('#notice');
        /*$('#notice').replaceWith(
         // ... Con la respuesta ajax
         $(html).show('#notice')
         );*/
      }
    });
    e.preventDefault();
  });
</script>#}
</body>
</html>
<!-- Add extra libraries and plugins here -->
{% block javascripts %}{% endblock %}

<!-- Add your own code here -->
{% block custom_javascripts %}{% endblock %}
