{% extends '::base.html.twig' %}

{% block opcionsidebar %}
    <li data-route="jubilacion-informacion">
        <a href="{{ path('jubilacion-informacion') }}"><i class="fa fa-circle-o"></i>Revisar Solicitudes</a>
    </li>
    <li data-route="jubilacion-informacion">
        <a href="{{ path('jubilacion-informacion') }}"><i class="fa fa-circle-o"></i>Generar Informe</a>
    </li>>
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <h1>Consejo de Facultad</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-fw fa-child"></i> Jubilación</a></li>
            <li class="active">Consejo de Facultad </li>
            <li class="active">Revisar Solicitudes </li>
        </ol>
    </div>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-solid box-info">
            <div class="box-header ">
                <h3 class="box-title"><b>Solicitudes:</b></h3>
            </div>

            <section class="content">
                <div class="row">
                    <div class="col-xs-16">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover" id="solicitudes">
                                <tr>
                                    <th>Nº Solicitud</th>
                                    <th>Solicitante</th>
                                    <th>Fecha Recibida</th>
                                    <th>Fecha Enviada</th>
                                    <th>Estatus</th>
                                    <th>Motivo</th>
                                    <!-- <th>Informe DAP</th>
                                     <th>Informe</th> -->
                                </tr>
                                {% for tramiteJubilacion in tramites %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('jubilacion-revisar-solicitud-consejo', { 'id': tramiteJubilacion.getTramite().getId() }) }}">
                                                <button type="button" class="btn btn-info" data-toggle="modal">
                                                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;{{ tramiteJubilacion.getTramite().getId() }}
                                                </button>
                                            </a>
                                        </td>
                                        <td>{{ tramiteJubilacion.getTramite().getUsuarioId().getNombreCompleto() }}</td>
                                        <td>{{ tramiteJubilacion.getTramite().getfecha_recibido_consejo()|date('d-m-Y') }}</td>
                                        {% if tramiteJubilacion.getFechaConsejo() and tramiteJubilacion.getTramite().getfecha_recibido_consejo() %}
                                            {% if tramiteJubilacion.getFechaConsejo() == tramiteJubilacion.getTramite().getfecha_recibido_consejo() %}
                                                <td align="center">-</td>
                                            {% else %}
                                                <td>{{ tramiteJubilacion.getFechaConsejo()|date('d-m-Y') }}</td>
                                            {% endif %}
                                        {% endif %}
                                        {% if tramiteJubilacion.getEstadoConsejo() == "Pendiente" %}
                                            <td><span class="label label-warning">{{ tramiteJubilacion.getEstadoConsejo() }}</span></td>
                                        {% endif %}
                                        {% if tramiteJubilacion.getEstadoConsejo() == "Aprobada" %}
                                            <td><span class="label label-success">{{ tramiteJubilacion.getEstadoConsejo() }}</span></td>
                                        {% endif %}
                                        {% if tramiteJubilacion.getEstadoConsejo() == "Negada" %}
                                            <td><span class="label label-danger">{{ tramiteJubilacion.getEstadoConsejo() }}</span></td>
                                        {% endif %}

                                        {% if tramiteJubilacion.getMotivoConsejo() %}
                                            <td>{{ tramiteJubilacion.getMotivoConsejo() }}</td>
                                        {% else %}
                                            <td align="center">-</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </section>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->

    <!-- Scripts -->
    <script>
        $("#enviarRespuesta").click(function (){

            toastr.clear();
            var text = "";

            var motivo = $('#motivo').val();
            var continua = true;

            if (motivo == ""){
                continua = false;
                $('#spanMotivo').removeClass("hide");
                text = "Campo vacío";
            }

            if(continua){
                /*json*/
                $.ajax({
                    method: "POST",
                    data: {"Solicitud": document.getElementById("numSolicitud").value,
                        "Estatus": document.getElementById("estatus").value,
                        "Motivo": document.getElementById("motivo").value},
                    url:  "{{ path('jubilacion-insertar') }}",
                    dataType: 'json',
                    success: function(data)
                    {
                        if (data == "S"){

                            $('#spanMotivo').addClass("hide");
                            text = "Respuesta de solicitud enviada";

                            toastr.success(text, "Exito", {
                                "timeOut": "0",
                                "extendedTImeout": "0"
                            });
                        }
                        /*else{
                         if (data == "N"){
                         $('#spanMotivo').addClass("hide");
                         text = "Usted no tiene permiso";
                         }*/
                        else{
                            $('#spanMotivo').addClass("hide");
                            text = "Error al enviar respuesta de solicitud";

                            toastr.error(text, "Error", {
                                "timeOut": "0",
                                "extendedTImeout": "0"
                            });
                        }
                    }
                    // alert(JSON.stringify(data));
                });
                /*fin del json*/
            }
            else{
                toastr.error(text, "Error", {
                    "timeOut": "0",
                    "extendedTImeout": "0"
                });
            }
        });
    </script>
    <!-- /.Scripts -->
{% endblock %}