{% extends '::base.html.twig' %}

{% block opcionsidebar %}
    <li data-route="jubilacion-informacion">
        <a href="{{ path('jubilacion-informacion') }}"><i class="fa fa-circle-o"></i>Revisar Solicitudes</a>
    </li>
    <li data-route="comision_remunerada_solicitar">
        <a href="{{ path('solicitud_serv_remun') }}"><i class="fa fa-circle-o"></i>Generar Informe</a>
    </li>>
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-fw fa-child"></i> Jubilación</a></li>
            <li class="active">Consejo de Facultad </li>
            <li class="active">Revisar Solicitudes </li>
        </ol>
    </div>
    <br>

    <!-- Main content -->
    <section class="content">
        <h4 style="text-align: center"><b>CONSEJO DE FACULTAD</b></h4>
        <br>
        <!-- Default box -->
        <div class="box box-solid box-default">
            <div class="box-header ">
                <h3 class="box-title"><b>Solicitudes:</b></h3>
            </div>

            <section class="content">
                <div class="row">
                    <div class="col-xs-16">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover" id="solicitudes">
                                <tr>
                                    <th>Nº Solicitud</th>
                                    <th>Solicitante</th>
                                    <th>Fecha Recibida</th>
                                    <th>Fecha Enviada</th>
                                    <th>Estatus</th>
                                    <th>Motivo&nbsp;&nbsp;<span id="spanMotivo" class="label label-danger hide">Vacío</span></th>
                                    <th>Enviar Respuesta</th>
                                </tr>
                                {% for tramiteJubilacion in tramites %}
                                    <tr>
                                        <td>
                                            <i class="fa fa-info-circle"></i>
                                            <input type="button" class="btn btn-info" id="numSolicitud" value="{{ tramiteJubilacion.id }}">
                                        </td>
                                        <td>{{ tramiteJubilacion.getUsuarioId().getPrimerNombre() }} {{ tramiteJubilacion.getUsuarioId().getPrimerApellido() }}</td>
                                        <td>{{ tramiteJubilacion.getfecha_recibido()|date('d-m-Y') }}</td>
                                        <td>{{ tramiteJubilacion.getTransicion().getFecha()|date('d-m-Y') }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <select id="estatus" class="btn dropdown-toggle btn-default">  <!--Call run() function-->
                                                    <ul class="dropdown-menu" role="menu">
                                                        <option value="1">{{ tramiteJubilacion.getTransicion().getEstado() }}</option>
                                                        <option value="2">Negado</option>
                                                        <option value="3">Aprobado</option>
                                                    </ul>
                                                </select><br><br>
                                                <!--TextBox1<br>
                                                <input type="text" id="srt" placeholder="get value on option select"><br>-->
                                            </div>
                                        </td>
                                        <td>
                                            <input id="motivo" class="form-control" type="text" placeholder="Escribir...">
                                        </td>
                                        <td>
                                            <!--<div >
                                                <button id="enviarRespuesta" class="btn btn-success btn-block btn-flat">Registrar</button>
                                            </div>-->
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info">Enviar</button>
                                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a id="enviarRespuesta" href="#">Profesor</a></li>
                                                    <li><a id="enviarRespuesta" href="{{ path('jubilacion-informe-jubilacion') }}">AAPP</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </section>
        </div>
        <!-- /.box -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" align="center"><b>Información del Solicitante</b></h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <th>
                                    <h4>Solicitud Nº<b> 183</b></h4>
                                </th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>
                                    <h5><b>Nombres y Apellidos:</b>&nbsp;&nbsp;Carlos Enrique Campos Cobeña</h5>
                                    <h5><b>Cédula de Identidad:</b>&nbsp;&nbsp;20.765.356</h5>
                                    <h5><b>Nacionalidad:</b>&nbsp;&nbsp;Venezolano</h5>
                                    <h5><b>Correo:</b>&nbsp;&nbsp;carloscampos@gmail.com</h5>
                                    <h5><b>Tlf:</b>&nbsp;&nbsp;(0412)-451-2323</h5>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

    <!-- Scripts -->
{% block custom_javascripts %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <script>
       // function run() {
            //document.getElementById("srt").value = document.getElementById("estatus").value;
           // var estatus = document.getElementById("estatus").value;
       // }
    </script>

    <script>
        $("#enviarRespuesta").click(function (){

            toastr.clear();
            var text = "";

            var motivo = $('#motivo').val();
            var continua = true;

            if (motivo == ""){
                continua = false;
                $('#spanMotivo').removeClass("hide");
                text = "Campo vacío";
            }

            if(continua){
                /*json*/
                $.ajax({
                    method: "POST",
                    data: {"Solicitud": document.getElementById("numSolicitud").value,
                        "Estatus": document.getElementById("estatus").value,
                        "Motivo": document.getElementById("motivo").value},
                    url:  "{{ path('jubilacion-insertar') }}",
                    dataType: 'json',
                    success: function(data)
                    {
                        if (data == "S"){

                            $('#spanMotivo').addClass("hide");
                            text = "Respuesta de solicitud enviada";

                            toastr.success(text, "Exito", {
                                "timeOut": "0",
                                "extendedTImeout": "0"
                            });
                        }
                        /*else{
                         if (data == "N"){
                         $('#spanMotivo').addClass("hide");
                         text = "Usted no tiene permiso";
                         }*/
                        else{
                            $('#spanMotivo').addClass("hide");
                            text = "Error al enviar respuesta de solicitud";

                            toastr.error(text, "Error", {
                                "timeOut": "0",
                                "extendedTImeout": "0"
                            });
                        }
                    }
                    // alert(JSON.stringify(data));
                });
                /*fin del json*/
            }
            else{
                toastr.error(text, "Error", {
                    "timeOut": "0",
                    "extendedTImeout": "0"
                });
            }
        });
    </script>

{% endblock %}
    <!-- /.Scripts -->

{% endblock %}