{% extends '::base.html.twig' %}

{% block opcionsidebar %}
    <li data-route="jubilacion-informacion">
        <a href="{{ path('jubilacion-informacion') }}"><i class="fa fa-circle-o"></i>Revisar Solicitudes</a>
    </li>
    <li data-route="comision_remunerada_solicitar">
        <a href="{{ path('solicitud_serv_remun') }}"><i class="fa fa-circle-o"></i>Generar Informe</a>
    </li>>
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <h1>Dirección de Asuntos Profesorales</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-fw fa-child"></i> Jubilación</a></li>
            <li class="active">Dirección de Asuntos Profesorales </li>
            <li class="active">Revisar Solicitudes </li>
        </ol>
    </div>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-solid box-info">
            <div class="box-header ">
                <h3 class="box-title"><b>Solicitudes:</b></h3>
            </div>

            <section class="content">
                <div class="row">
                    <div class="col-xs-16">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover" id="solicitudes">
                                <tr>
                                    <th>Nº Solicitud</th>
                                    <th>Solicitante</th>
                                    <th>Fecha Recibida</th>
                                    <th>Fecha Enviada</th>
                                    <th>Estatus</th>
                                    <th>Motivo</th>
                                   <!-- <th>Informe</th>
                                    <th>Informe Consejo</th> -->
                                </tr>
                                {% for tramiteJubilacion in tramites %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('jubilacion-revisar-solicitud', { 'id': tramiteJubilacion.id }) }}">
                                                <button type="button" class="btn btn-info" data-toggle="modal">
                                                    <i class="fa fa-info-circle"></i>&nbsp;&nbsp;{{ tramiteJubilacion.id }}
                                                </button>
                                            </a>
                                        </td>
                                        <td>{{ tramiteJubilacion.getUsuarioId().getNombreCompleto() }}</td>
                                        <td>{{ tramiteJubilacion.getfecha_recibido()|date('d-m-Y') }}</td>
                                        {% if tramiteJubilacion.getTransicion().getFecha() and tramiteJubilacion.getfecha_recibido() %}
                                            {% if tramiteJubilacion.getTransicion().getFecha() == tramiteJubilacion.getfecha_recibido() %}
                                                <td align="center">-</td>
                                            {% else %}
                                                <td>{{ tramiteJubilacion.getTransicion().getFecha()|date('d-m-Y') }}</td>
                                            {% endif %}
                                        {% endif %}
                                        {% if tramiteJubilacion.getTransicion().getEstado() == "Pendiente" %}
                                            <td><span class="label label-warning">{{ tramiteJubilacion.getTransicion().getEstado() }}</span></td>
                                        {% endif %}
                                        {% if tramiteJubilacion.getTransicion().getEstado() == "Aprobada" %}
                                            <td><span class="label label-success">{{ tramiteJubilacion.getTransicion().getEstado() }}</span></td>
                                        {% endif %}
                                        {% if tramiteJubilacion.getTransicion().getEstado() == "Negada" %}
                                            <td><span class="label label-danger">{{ tramiteJubilacion.getTransicion().getEstado() }}</span></td>
                                        {% endif %}
                                        {% if tramiteJubilacion.getTransicion().getEstado() == "Enviada" %}
                                            <td><span class="label label-info">{{ tramiteJubilacion.getTransicion().getEstado() }}</span></td>
                                        {% endif %}

                                        {% if tramiteJubilacion.getTransicion().getDoc_info() %}
                                            <td>{{ tramiteJubilacion.getTransicion().getDoc_info() }}</td>
                                        {% else %}
                                            <td align="center">-</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </section>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
{% endblock %}

