{% extends '::base.html.twig' %}
{% block content %}
    <section class="content-header">
        <h1>
            Comisión de Servicio
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-fw fa-money"></i> Comisión de Servicio</li>
            <li class="active">Revisar Solicitudes</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Solicitudes</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>Nº Solicitud</th>
                                <th>Solicitante</th>
                                <th>Fecha Recibido</th>
                                <th>Estado</th>
                                <th >Motivo</th>
                            </tr>
                            {% for tramite_comision in tramites_comision %}
                                <tr>
                                    <td>
                                        <a href="{{ path('comision_servicio_ver_solicitud', { 'id': tramite_comision.id }) }}">
                                            <button type="button" class="btn btn-info btn-xs" data-toggle="modal">
                                                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;{{ tramite_comision.id }}
                                            </button>
                                        </a>
                                    </td>
                                    <td>{{ tramite_comision.getUsuarioId().getNombreCompleto() }}</td>
                                    <td>{{ tramite_comision.getFechaRecibido()|date('d-m-Y') }}</td>
                                    {#{% if tramite_comision.getTransicion().getFecha() and tramite_comision.getFechaRecibido() %}
                                        {% if tramite_comision.getTransicion().getFecha() == tramite_comision.getFechaRecibido() %}
                                            <td>---</td>
                                        {% else %}
                                            <td>{{ tramite_comision.getTransicion().getFecha()|date('d-m-Y') }}</td>
                                        {% endif %}
                                    {% endif %}#}

                                    {% if tramite_comision.getTransicion().getEstado() == "Pendiente" %}
                                        <td><span class="label label-warning">{{ tramite_comision.getTransicion().getEstado() }}</span></td>
                                    {% endif %}
                                    {% if tramite_comision.getTransicion().getEstado() == "Aprobada" %}
                                        <td><span class="label label-success">{{ tramite_comision.getTransicion().getEstado() }}</span></td>
                                    {% endif %}
                                    {% if tramite_comision.getTransicion().getEstado() == "Negada" %}
                                        <td><span class="label label-danger">{{ tramite_comision.getTransicion().getEstado() }}</span></td>
                                    {% endif %}

                                    {% if tramite_comision.getTransicion().getDoc_info() %}
                                        <td>{{ tramite_comision.getTransicion().getDoc_info() }}</td>
                                    {% else %}
                                        <td>---</td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}