{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>Hijos con discapacidad grave o severa</h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-handshake-o"></i>Cláusulas Contractuales</li>
        <li>Realizar solicitud</li>
        <li class="active">Hijos con discapacidad</li>
      </ol>
    </section>
    </br>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div>
          <img src="{{ asset('assets/images/carga.gif') }}" style="position: absolute; top:50%; left:50%; width:350px; margin-left:-200px; height:350px; margin-top:20%;"/>
          <br/>
          <label id="modalLabel" style="position: absolute; top:50%; left:60%; width:400px; margin-left:-200px; height:300px; margin-top:5%; color: white; font: 150% sans-serif;"></label>
        </div>
      </div>
    </div>

    <!-- Modal de búsqueda-->   
    <div class="modal fade" id="registrosBusqueda" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Usuarios registrados</h4>
          </div>
          <div class="modal-body">
            <div style="overflow-x: scroll; white-space: nowrap;">
              <table id="tableUsers" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Cédula</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody id="registros">
                </tbody>
                <tfoot>
                <tr>
                 <th>Cédula</th>
                 <th>Estado</th>
                 <th>Acciones</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <section class="content-body">
        <br/>
        <form id="discapacidadForm" action="{{ path('clausulas_contractuales_guardarArchivosDiscapacidadAjaxAction') }}" method="post" enctype="multipart/form-data">
          <!--sección de búsqueda-->
          <div class="col-md-offset-1 col-md-10">
            <div class="box box-default box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title"><i class="fa fa-search"></i><b>&nbsp;&nbsp;Búsqueda</b></h3>
                </div>

                <div class="box-body">
                  <p>A continuación inserte la cédula de un titular y luego presione "Buscar" para presentar la información de los hijos.</p>
                  <hr><br>
                  <div class="row">
                    <div class="col-md-offset-1 col-md-5">
                      <div class="form-group has-feedback">
                            <input id="mail" name="mail" type="email" class="form-control" placeholder="Inserte cédula">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group has-feedback">
                        <button id="generate" type="button" class="btn btn-primary btn-block btn-flat">Buscar</button>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group has-feedback">
                        <button  id="viewUsers" type="button" class="btn btn-primary btn-block btn-flat" data-toggle="modal" data-target="#registrosBusqueda">Ver usuarios</button>
                      </div>
                    </div>
                    <input id="load" name="load" type="text" class="form-control hidden" placeholder="bool"/>
                  </div>
                </div>
            </div>
          </div>
          <!--fin de sección de búsqueda-->

          <div class="col-md-offset-1 col-md-10">
            <div class="box box-solid box-default" >
              <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-female"></i><i class="fa fa-child"></i><i class="fa fa-male"></i><b>&nbsp;&nbsp;Hijos</b></h3>
                <div class="box-tools pull-right">
                  <button type="button" id="miniPersonal" class="btn btn-box-tool hidden" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>

              <div id="boxBodyHijos" class="box-body">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                      <label>Seleccione un hijo para filtrar la información</label>
                      <select id="selectedHijo" name="selectedHijo" class="form-control select2" style="width: 100%;">
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="recaudos" class="col-md-10 col-md-offset-1">
            <div class="box box-default box-solid">
              <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;<b>Recaudos</b></h3>
                <div class="box-tools pull-right">
                  <button type="button" id="miniRecaudo" class="btn btn-box-tool hidden" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>             
              
              <div id="boxBodyRecaudos" class="box-body">
                <p>A continuación adjunte los recaudos especificados:</p>
                <hr>
                <div class="row">    
                  <div class="col-md-12">
                    <div id="divcargarDocumentos" class="form-group has-feedback">
                      
                      <label for="divcargarDocumentos" align="justify"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Calificación y certificado de personas con discapacidad CONAPDIS</label>
                      <br>
                      <label for="divcargarDocumentos" align="justify"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Informe médico</label>
                      <br>
                      <label for="divcargarDocumentos" align="justify"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Cédula de identidad</label>
                      <br>
                      <label for="divcargarDocumentos" align="justify"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Carta de soltería</label>
                      <br>
                      <label for="divcargarDocumentos" align="justify"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Carta de expensas</label>
                      
                      <input id="cargarDocumentos" name="inputDiscapacidad[]" accept="application/pdf" multiple type="file" class="file" data-show-upload="false" data-show-caption="true">
                      <span id="spanDocumentos" class="glyphicon form-control-feedback"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-4 col-xs-4">
                      <button id="guardarDiscapacidad" type="button" class="btn btn-primary btn-block btn-flat">Aceptar</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </section>
    </div>
{% endblock %}

{% block custom_javascripts %}
  <script src="{{ asset('assets/js/ClausulasContractuales/Solicitud/loadSolicitud.js') }}"></script>
  <script src="{{ asset('assets/js/ClausulasContractuales/Solicitud/visible.js') }}"></script>
  <script src="{{ asset('assets/js/ClausulasContractuales/Solicitud/guardarDatos.js') }}"></script>
  <script src="{{ asset('assets/js/ClausulasContractuales/Solicitud/buscar.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/tableUsersCopy.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/configTable.js') }}"></script>
{% endblock %}