{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>
        Listado de Concursos de Oposici&oacute;n
      </h1> 
      <ol class="breadcrumb">
        <li><i class="fa fa fa-users"></i> Oposici&oacute;n</li>
        <li class="active"> Listado de Concurso</li>
      </ol>
    </section> 

    <br/>
    <div class="row">
      <!--Success message-->
      <section class="content-body col-md-offset-1 col-md-10">
      
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="elim" class="modal-title hide">Eliminar Concurso</h4>
                <h4 id="modif" class="modal-title hide">Modificar Concurso</h4>
              </div>
              <div class="modal-body">

                <div class="container form-group has-feedback" id="fi">
                  <label><center>Fecha De Inicio</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >

                                  <input class="form-control" id='inicio' value="" type="text" placeholder="dd/MM/yyyy" maxlength="10"/>

                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>

                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="container form-group has-feedback" id="fa">
                  <label><center>Nro Vacantes</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >

                                  <input class="form-control" id='vacantes' value="" type='text' maxlength="3" placeholder="Ejemplo: 123" onkeypress="return justNumbers(event);"/>

                                  <span class="input-group-addon">
                                      <span class="fa fa-hashtag"></span>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="container form-group has-feedback" id="fe">
                  <label><center>Area De Postulaci&oacute;n</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >
                                  <input class="form-control" id='area' value=""  maxlength="99" placeholder="Ejemplo: Literatura"/>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-font"></span>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
 
                <div class="container">
                  <label><center>Fecha De Recepci&oacute;n De Documentos</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >

                                  <input class="form-control" id='recepcion' value="" type="text" placeholder="dd/MM/yyyy" maxlength="10"/>

                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="container">
                  <label><center>Fecha De Presentaci&oacute;n</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >
                                  <input class="form-control" id='presentacion' value="" type="text" placeholder="dd/MM/yyyy" maxlength="10"/>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>  

                <div class="container">
                  <label><center>Observaci&oacute;n</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >

                                  <input type='text' class="form-control" id='observacion' value="" placeholder="comente acerca del concurso" maxlength="200"/>

                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-comment"></span>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>                 

                <div class="container">
                  <label><center>Responsable De Registro o Modificaci&oacute;n</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >
                                  <input class="form-control" id='usuario' value="" readOnly="true"/>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-font"></span>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <button id="eliminarConcurso" type="button" class="btn btn-success">Eliminar</button>
                <button id="modificarConcurso" type="button" class="btn btn-success">Modificar</button>
              </div>
            </div>
            
          </div>
        </div>

        <br/>
        <div class="register-box-body">

                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Concursos</h3>
                  </div>

                   <div class="box-body">

                      <table id="tabla" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                            <th>Fecha Inicio</th>
                            <th>Nro. Vacantes</th>
                            <th>Area Postulaci&oacute;n</th>
                            <th>Fecha Recepci&oacute;n Doc.</th>
                            <th>Fecha Presentaci&oacute;n</th>                         
                          </tr>
                          </thead>
                          <tbody id="cuerpo">

                          </tbody>
                          <tfoot>
                             <tr>
                              <th>Fecha Inicio</th>
                              <th>Nro. Vacantes</th>
                              <th>Area Postulaci&oacute;n</th>
                              <th>Fecha Recepci&oacute;n Doc.</th>
                              <th>Fecha Presentaci&oacute;n</th>                        
                            </tr>
                          </tfoot>
                      </table>
                   </div>

                </div>
  			 </div>      
  		</section> 
  </div>
  
   <div class="row hide" id="jur">
      <section class="content-body col-md-offset-1 col-md-10">

        <br/>
        <div class="register-box-body">
  
		  <div class="nav-tabs-custom">
		    <ul class="nav nav-tabs pull-right">
		      <li><a href="#suplente" data-toggle="tab">CPEC Suplentes</a></li>
		      <li><a href="#cpec" data-toggle="tab">CPEC</a></li>
		      <li><a href="#sales-chart" data-toggle="tab">Jurados Suplentes</a></li>
		      <li class="active"><a href="#revenue-chart" data-toggle="tab">Jurados</a></li>	      
		      <li class="pull-left header"><i class="glyphicon glyphicon-search"></i> Detalles</li>
		    </ul>
		    <div class="tab-content no-padding">
		      <!-- Morris chart - Sales -->
		      <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">

					<div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Jurados</h3>
                  </div>

                   <div class="box-body hide" id="jurTabla">

                      <table id="tabla1" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                            <th>Nombre(s)</th>
                            <th>Apellido(s)</th>
                            <th>Area Postulaci&oacute;n</th>
                            <th>Facultad</th>
                            <th>Universidad</th>                          
                          </tr>
                          </thead>
                          <tbody>

                          </tbody>
                          <tfoot>
                             <tr>
                              <th>Nombre(s)</th>
                              <th>Apellido(s)</th>
                              <th>Area Postulaci&oacute;n</th>
                              <th>Facultad</th>
                              <th>Universidad</th>                           
                            </tr>
                          </tfoot>
                      </table>
                   </div>
                   
                   <div class="box-body hide" id="jurMensaje">

                 	  <div class="row">		        
					  	<div class="container form-group has-feedback has-error">
						    <div class="row">
						        <div class='col-sm-8'>
						            <div class="form-group">
						                <div class='input-group' >
						                    <input type="text" class="form-control" maxlength="9" value="Este Concurso No Tiene Jurados Registrados" readOnly="true"/>
						                    <span class="input-group-addon">
						                        <span class="glyphicon glyphicon-warning-sign"></span>
						                    </span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
                   </div>

                </div>

			  </div>
		      <div class="chart tab-pane" id="sales-chart" style="position: relative;">

					<div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Jurados Suplentes</h3>
                  </div>

                   <div class="box-body hide" id="jurTabla2">

                      <table id="tabla2" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                            <th>Nombre(s)</th>
                            <th>Apellido(s)</th>
                            <th>Area Postulaci&oacute;n</th>
                            <th>Facultad</th>
                            <th>Universidad</th>                          
                          </tr>
                          </thead>
                          <tbody>

                          </tbody>
                          <tfoot>
                             <tr>
                              <th>Nombre(s)</th>
                              <th>Apellido(s)</th>
                              <th>Area Postulaci&oacute;n</th>
                              <th>Facultad</th>
                              <th>Universidad</th>                           
                            </tr>
                          </tfoot>
                      </table>
                   </div>
                   
                   <div class="box-body hide" id="jurMensaje2">

                 	  <div class="row">		        
					  	<div class="container form-group has-feedback has-error">
						    <div class="row">
						        <div class='col-sm-8'>
						            <div class="form-group">
						                <div class='input-group' >
						                    <input type="text" class="form-control" maxlength="9" value="Este Concurso No Tiene Jurados Suplentes Registrados" readOnly="true"/>
						                    <span class="input-group-addon">
						                        <span class="glyphicon glyphicon-warning-sign"></span>
						                    </span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
                   </div>

                </div>

			</div>
			
			<div class="chart tab-pane" id="cpec" style="position: relative;">

					<div class="box">
                  <div class="box-header">
                    <h3 class="box-title">CPEC</h3>
                  </div>

                   <div class="box-body hide" id="jurTabla3">

                      <table id="tabla3" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                            <th>Nombre(s)</th>
                            <th>Apellido(s)</th>
                            <th>Area Postulaci&oacute;n</th>
                            <th>Facultad</th>
                            <th>Universidad</th>                          
                          </tr>
                          </thead>
                          <tbody>

                          </tbody>
                          <tfoot>
                             <tr>
                              <th>Nombre(s)</th>
                              <th>Apellido(s)</th>
                              <th>Area Postulaci&oacute;n</th>
                              <th>Facultad</th>
                              <th>Universidad</th>                           
                            </tr>
                          </tfoot>
                      </table>
                      
                      <br/>
                      
                      <div class="container">
	                  <div class="row">
	                      <div class='col-sm-6'>
	                          <div class="form-group">
	                              <div class='input-group' >
						              <button id="agregar" type="button" class="btn btn-primary btn-block btn-flat" data-toggle="modal" data-target="#myModal1">+Agregar</button>
	                              </div>
	                          </div>
	                      </div>
	                  </div>
	                </div>
                      
                   </div>
                   
                   <div class="box-body hide" id="jurMensaje3">

                 	  <div class="row">		        
					  	<div class="container form-group has-feedback has-error">
						    <div class="row">
						        <div class='col-sm-8'>
						            <div class="form-group">
						                <div class='input-group' >
						                    <input type="text" class="form-control" maxlength="9" value="Este Concurso No Tiene CPEC Registrados" readOnly="true"/>
						                    <span class="input-group-addon">
						                        <span class="glyphicon glyphicon-warning-sign"></span>
						                    </span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>						
					</div>
                   </div>
                </div>
			  </div>
			  
			  
			  <div class="chart tab-pane" id="suplente" style="position: relative;">

					<div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Suplentes CPEC</h3>
                  </div>

                   <div class="box-body hide" id="jurTabla4">

                      <table id="tabla4" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                            <th>Nombre(s)</th>
                            <th>Apellido(s)</th>
                            <th>Area Postulaci&oacute;n</th>
                            <th>Facultad</th>
                            <th>Universidad</th>                          
                          </tr>
                          </thead>
                          <tbody>

                          </tbody>
                          <tfoot>
                             <tr>
                              <th>Nombre(s)</th>
                              <th>Apellido(s)</th>
                              <th>Area Postulaci&oacute;n</th>
                              <th>Facultad</th>
                              <th>Universidad</th>                           
                            </tr>
                          </tfoot>
                      </table>
                   </div>
                   
                   <div class="box-body hide" id="jurMensaje4">

                 	  <div class="row">		        
					  	<div class="container form-group has-feedback has-error">
						    <div class="row">
						        <div class='col-sm-8'>
						            <div class="form-group">
						                <div class='input-group' >
						                    <input type="text" class="form-control" maxlength="9" value="Este Concurso No Tiene CPEC Registrados" readOnly="true"/>
						                    <span class="input-group-addon">
						                        <span class="glyphicon glyphicon-warning-sign"></span>
						                    </span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
                   </div>

                </div>

			  </div>
			
			
			
		    </div>
		  </div>
  		</div>      
  	</section> 
  </div>
  
  
  
  
  <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">
      
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Registro de CPEC</h4>
          </div>
          <div class="modal-body">
          
          	<div class="container form-group has-feedback" id="cedulaa1">
	            <label><center>CPEC</center></label>
				    <div class="row">
				        <div class='col-sm-6'>
				        	<span id="spancedula1" class="label label-danger hide">Vac&iacute;o</span>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="9" placeholder="C&eacute;dula" onkeypress="return justNumbers(event);" id='cedula1' value=""/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-address-card-o"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="container form-group has-feedback" id="nombrea1">
				    <div class="row">
				        <div class='col-sm-6'>
				        	<span id="spannombre1" class="label label-danger hide">Vac&iacute;o</span>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="30" placeholder="Nombre Completo" id='nombre1' value=""/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-buysellads"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="container form-group has-feedback" id='apellidoa1'>
				    <div class="row">
				        <div class='col-sm-6'>
				        	<span id="spanapellido1" class="label label-danger hide">Vac&iacute;o</span>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="30" placeholder="Apellido Completo" id='apellido1' value=""/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-buysellads"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="container form-group has-feedback" id='facultada1'>
				    <div class="row">
				        <div class='col-sm-6'>
				        	<span id="spanfacultad1" class="label label-danger hide">Vac&iacute;o</span>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="30" placeholder="Facultad donde ejerce" id='facultad1' value=""/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-graduation-cap"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="container form-group has-feedback" id='universidada1'>
				    <div class="row">
				        <div class='col-sm-6'>
				        	<span id="spanuniversidad1" class="label label-danger hide">Vac&iacute;o</span>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="30" placeholder="Universidad donde ejerce" id='universidad1' value=""/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-graduation-cap"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="container form-group has-feedback" id='areaa1'>
				    <div class="row">
				        <div class='col-sm-6'>
				       		<span id="spanarea1" class="label label-danger hide">Vac&iacute;o</span>
				            <div class="form-group">
				                <div class='input-group' >
				                    <input type="text" class="form-control" maxlength="30" placeholder="Area de investigaci&oacute;n" id='area1' value=""/>
				                    <span class="input-group-addon">
				                        <span class="fa fa-graduation-cap"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            <button id="ingresarCPEC" type="button" class="btn btn-success">Registrar</button>
          </div>
        </div>
        
      </div>
    </div>
  

       
    <br/><br/>
    
{% endblock %}

{% block custom_javascripts %}

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.js') }}"></script>

  <script>
    
      tabla = $('#tabla').DataTable({
        "language": {
                "url": "{{ asset('assets/js/datatable-spanish.json') }}"
          },
          columns: [
              { "data": "inicio" },
              { "data": "vacantes" },
              { "data": "area" },
              { "data": "doc" },
              { "data": "pre" },
              { "data": "ver" },
              { "data": "modif" },
              { "data": "elim" }              
          ]
      });
      
      tabla1 = $('#tabla1').DataTable({
        "language": {
                "url": "{{ asset('assets/js/datatable-spanish.json') }}"
          },
          columns: [
              { "data": "nombre" },
              { "data": "apellido" },
              { "data": "areainvestigacion" },
              { "data": "facultad" },
              { "data": "universidad" }
          ]
      });
      
      tabla2 = $('#tabla2').DataTable({
        "language": {
                "url": "{{ asset('assets/js/datatable-spanish.json') }}"
          },
          columns: [
              { "data": "nombre" },
              { "data": "apellido" },
              { "data": "areainvestigacion" },
              { "data": "facultad" },
              { "data": "universidad" }                  
          ]
      });
      
      tabla3 = $('#tabla3').DataTable({
        "language": {
                "url": "{{ asset('assets/js/datatable-spanish.json') }}"
          },
          columns: [
              { "data": "nombre" },
              { "data": "apellido" },
              { "data": "areainvestigacion" },
              { "data": "facultad" },
              { "data": "universidad" }     
          ]
      });
      
      tabla4 = $('#tabla4').DataTable({
        "language": {
                "url": "{{ asset('assets/js/datatable-spanish.json') }}"
          },
          columns: [
              { "data": "nombre" },
              { "data": "apellido" },
              { "data": "areainvestigacion" },
              { "data": "facultad" },
              { "data": "universidad" }     
          ]
      });

  </script>

  <script>

    $('#inicio').datepicker({
      autoclose: true
    });

    $('#recepcion').datepicker({
      autoclose: true
    });

    $('#presentacion').datepicker({
      autoclose: true
    });

  </script>

  {% include('ConcursoOposicionBundle:Concurso:listadoConcurso.html.twig') %}

{% endblock %}