{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>
        Listado de Aspirantes del Concursos de Oposici&oacute;n
      </h1> 
      <ol class="breadcrumb">
        <li><i class="fa fa fa-users"></i> Oposici&oacute;n</li>
        <li class="active"> Listado de Aspirantes</li>
      </ol>
    </section>

    <br/>
    <div class="row">
      <!--Success message-->
      <section class="content-body col-md-offset-1 col-md-10">

        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="elim" class="modal-title hide">Eliminar Aspirante</h4>
                <h4 id="modif" class="modal-title hide">Modificar Aspirante</h4>
              </div>
              <div class="modal-body">

                <div class="container">
                  <label><center>Nombres</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >

                                  <input class="form-control" id='nombres' value="" type="text" placeholder="Jose Manuel" maxlength="50" readOnly="true"/>

                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-font"></span>
                                  </span>

                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="container">
                  <label><center>Apellidos</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >

                                  <input class="form-control" id='apellidos' value="" type="text" placeholder="Perez Perez" maxlength="50" readOnly="true"/>

                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-font"></span>
                                  </span>

                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="container">
                  <label><center>C&eacute;dula</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >

                                  <input class="form-control" id='cedula' value="" type="text" placeholder="12345678" maxlength="50" readOnly="true"/>

                                  <span class="input-group-addon">
                                      <span class="fa fa-credit-card"></span>
                                  </span>

                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="container">
                  <label><center>Tel&eacute;fono</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >

                                  <input class="form-control" id='tlfn' value="" type="text" placeholder="04144444444" maxlength="50" onkeypress="return justNumbers(event);"/>

                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-earphone"></span>
                                  </span>

                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="container">
                  <label><center>Correo</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >

                                  <input class="form-control" id='correos' value="" type="text" placeholder="mperez@mail.com" maxlength="50"/>

                                  <span class="input-group-addon">
                                      <span class="fa fa-at"></span>
                                  </span>

                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="container">
                  <label><center>Profesi&oacute;n</center></label>
                  <div class="row">
                      <div class='col-sm-6'>
                          <div class="form-group">
                              <div class='input-group' >

                                  <input class="form-control" id='prof' value="" type="text" placeholder="Lic. Computaci&oacute;n" maxlength="50" readOnly="true"/>

                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-briefcase"></span>
                                  </span>

                              </div>
                          </div>
                      </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <button id="eliminarConcurso" type="button" class="btn btn-success">Eliminar</button>
                <button id="modificarConcurso" type="button" class="btn btn-success">Modificar</button>
              </div>
            </div>
            
          </div>
        </div>

        <br/>
        <div class="register-box-body">
            
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">Aspirantes</h3>
              </div>

               <div class="box-body">

                  <table id="tabla" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>C&eacute;dula</th>
                        <th>Tel&eacute;fono</th>
                        <th>Correo</th>
                        <th>Profesi&oacute;n</th>                          
                      </tr>
                      </thead>
                      <tbody id="cuerpo">

                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>C&eacute;dula</th>
                          <th>Tel&eacute;fono</th>
                          <th>Correo</th>
                          <th>Profesi&oacute;n</th>                          
                        </tr>
                      </tfoot>
                  </table>
               </div>

            </div>

        </div>
      </section>
    </div>
    <br/><br/>
    
{% endblock %}


{% block custom_javascripts %}

  <script src="{{ asset('assets/js/concursoOposicion/listarAspirantes.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.js') }}"></script>

  <script>
    
      tabla = $('#tabla').DataTable({
        "language": {
                "url": "{{ asset('assets/js/datatable-spanish.json') }}"
          },
          columns: [
              { "data": "nombre" },
              { "data": "apellido" },
              { "data": "cedula" },
              { "data": "telefono" },
              { "data": "correo" },
              { "data": "profesion" },
              { "data": "modif" }
              //,{ "data": "elim" }
          ]
      });

  </script>

{% endblock %}
