{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>
        Listado de Concursos de Oposici&oacute;n
      </h1> 
      <ol class="breadcrumb">
        <li><i class="fa fa fa-users"></i> Oposici&oacute;n</li>
        <li class="active"> Listado de Concurso</li>
      </ol>
    </section> 

      <div class="example-modal">

        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h4 class="modal-title">Desea Eliminar Este Concurso?</h4>
              </div>
              <div class="modal-body">

                  <label>Facultad</label>            
                  <input class="form-control" value="" readOnly="true" id="facultad1"/>
                  
                  <br/>

                  <label>Condición de Ingreso</label> 
                  <input class="form-control" value="" readOnly="true" id="condicion1"/>

                  <br/>

                  <label>Vacantes</label> 
                  <input class="form-control" value="" readOnly="true" id="nroVacantes1"/>

                  <br/>

                  <label>Status</label>                       
                  <input class="form-control" value="" readOnly="true" id="status1"/>

              </div>
              <div class="modal-footer">

                <button type="button" class="btn btn-default pull-center" data-dismiss="modal">Cancelar</button>
                <button id="eliminarConcurso" type="button" class="btn btn-success pull-center">Eliminar</button>
              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="example-modal">

        <div class="modal fade" id="myModal2" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h4 class="modal-title">Actualizar Concurso</h4>
              </div>
              <div class="modal-body">

                  <label>Facultad</label>            
                  <input class="form-control" value="" readOnly="true" id="facultad2"/>
                  
                  <br/>

                  <label>Condición de Ingreso</label> 
                  <input class="form-control" value="" readOnly="true" id="condicion2"/>

                  <br/>

                  <label>Vacantes</label> 
                  <input class="form-control" value="" readOnly="true" id="nroVacantes2"/>

                  <br/>
                        
                  <label> Status </label>
                  <input class="form-control" value="" readOnly="true" id="status2"/>
                  
                  <br/>

                  <div class="box-body hide" id="presupuesto">
                      
                    <div class="row">
                  
                    <div class="col-md-6">
                
                        <div class="form-group has-feedback" id="div_presupuesto">
                        
                          <label> Disponibilidad Presupuestaria </label>
                          
                          <select id="disponibilidad" class="form-control select2" style="width: 100%;">
                            <option selected="selected">...</option>
                            <option>Sí</option>
                            <option>No</option>
                          </select>

                        </div>
                    </div> 

                    <div class="col-md-6">
                
                        <div class="form-group has-feedback" id="div_fecha">
                        
                          <label> A Partir Del </label>
                          
                          <input id="fecha" type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask>

                        </div>
                    </div> 

                    <div class="col-md-6">
                
                        <div class="form-group has-feedback" id="div_control">
                        
                          <label> Nro. De Control u Oficio </label>
                          
                          <input type="text" class="form-control" maxlength="19" id='control'/>

                        </div>
                    </div> 

                    <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_aprobado">
                        
                      <label> Aprobado? </label>
                      
                      <select id="aprobado" class="form-control select2" style="width: 100%;">
                        <option selected="selected">...</option>
                        <option>Sí</option>
                        <option>No</option>
                      </select>

                    </div>

                  </div>

                  </div>
                </div>  
              </div>

              <div class="box-body hide" id="cf">
                      
                <div class="row">

                  <div class="col-md-6">
                
                        <div class="form-group has-feedback" id="div_control1">
                        
                          <label> Nro. De Control u Oficio </label>
                          
                          <input type="text" class="form-control" maxlength="19" id='control1'/>

                        </div>

                    </div> 

                    <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_aprobado2">
                        
                      <label> Aprobado? </label>
                      
                      <select id="aprobado2" class="form-control select2" style="width: 100%;">
                        <option selected="selected">...</option>
                        <option>Sí</option>
                        <option>No</option>
                      </select>

                    </div>

                    </div>                    

                </div>

              </div>

              <div class="box-body hide" id="prof">
                      
                <div class="row">

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_avala">
                        
                      <label> Avala </label>
                      
                      <select id="avala" class="form-control select2" style="width: 100%;">
                        <option selected="selected">...</option>
                        <option>Sí</option>
                        <option>No</option>
                      </select>

                    </div>

                  </div>

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_justificacion">
                        
                      <label> Justificación </label>
                      
                      <input type="text" class="form-control" maxlength="200" id='justificacion'/>

                    </div>

                  </div>

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_cargo">
                        
                      <label> Cargo </label>
                      
                      <input type="text" class="form-control" maxlength="100" id='cargo'/>

                    </div>

                  </div>

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_nya">
                        
                      <label> Nombre y Apellido </label>
                      
                      <input type="text" class="form-control" maxlength="100" id='nya'/>

                    </div>

                  </div>

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_cedula">
                        
                      <label> Cédula </label>
                      
                      <input type="text" class="form-control" maxlength="100" id='cedula'/>

                    </div>

                  </div>

                  <div class="col-md-6">
                
                      <div class="form-group has-feedback" id="div_fecha1">
                      
                        <label> Fecha </label>
                        
                        <input id="fecha1" type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask>

                      </div>
                  </div> 

                  <div class="col-md-6">
                
                        <div class="form-group has-feedback" id="div_control2">
                        
                          <label> Nro. De Control u Oficio </label>
                          
                          <input type="text" class="form-control" maxlength="19" id='control2'/>

                        </div>

                    </div> 

                    <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_aprobado1">
                        
                      <label> Aprobado? </label>
                      
                      <select id="aprobado1" class="form-control select2" style="width: 100%;">
                        <option selected="selected">...</option>
                        <option>Sí</option>
                        <option>No</option>
                      </select>

                    </div>

                  </div>

                </div>

              </div>



              <div class="box-body hide" id="consejo">
                      
                <div class="row">

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_avala2">
                        
                      <label> Avala </label>
                      
                      <select id="avala2" class="form-control select2" style="width: 100%;">
                        <option selected="selected">...</option>
                        <option>Sí</option>
                        <option>No</option>
                      </select>

                    </div>

                  </div>

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_justificacion2">
                        
                      <label> Justificación </label>
                      
                      <input type="text" class="form-control" maxlength="200" id='justificacion2'/>

                    </div>

                  </div>

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_cargo2">
                        
                      <label> Cargo </label>
                      
                      <input type="text" class="form-control" maxlength="100" id='cargo2'/>

                    </div>

                  </div>

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_nya2">
                        
                      <label> Nombre y Apellido </label>
                      
                      <input type="text" class="form-control" maxlength="100" id='nya2'/>

                    </div>

                  </div>

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_cedula2">
                        
                      <label> Cédula </label>
                      
                      <input type="text" class="form-control" maxlength="100" id='cedula2'/>

                    </div>

                  </div>

                  <div class="col-md-6">
                
                        <div class="form-group has-feedback" id="div_control4">
                        
                          <label> Nro. De Control u Oficio </label>
                          
                          <input type="text" class="form-control" maxlength="19" id='control4'/>

                        </div>

                    </div> 

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_aprobado4">
                        
                      <label> Aprobado? </label>
                      
                      <select id="aprobado4" class="form-control select2" style="width: 100%;">
                        <option selected="selected">...</option>
                        <option>Sí</option>
                        <option>No</option>
                      </select>

                    </div>

                    </div> 

                </div>

              </div>



              <div class="box-body hide" id="auditoria">
                      
                <div class="row">

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_avala1">
                        
                      <label> Avala </label>
                      
                      <select id="avala1" class="form-control select2" style="width: 100%;">
                        <option selected="selected">...</option>
                        <option>Sí</option>
                        <option>No</option>
                      </select>

                    </div>

                  </div>

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_justificacion1">
                        
                      <label> Justificación </label>
                      
                      <input type="text" class="form-control" maxlength="200" id='justificacion1'/>

                    </div>

                  </div>

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_cargo1">
                        
                      <label> Cargo </label>
                      
                      <input type="text" class="form-control" maxlength="100" id='cargo1'/>

                    </div>

                  </div>

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_nya1">
                        
                      <label> Nombre y Apellido </label>
                      
                      <input type="text" class="form-control" maxlength="100" id='nya1'/>

                    </div>

                  </div>

                  <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_cedula1">
                        
                      <label> Cédula </label>
                      
                      <input type="text" class="form-control" maxlength="100" id='cedula1'/>

                    </div>

                  </div>

                  <div class="col-md-6">
                
                      <div class="form-group has-feedback" id="div_fecha2">
                      
                        <label> Fecha </label>
                        
                        <input id="fecha2" type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask>

                      </div>
                  </div> 

                  <div class="col-md-6">
                
                        <div class="form-group has-feedback" id="div_control3">
                        
                          <label> Nro. De Control u Oficio </label>
                          
                          <input type="text" class="form-control" maxlength="19" id='control3'/>

                        </div>

                    </div> 


                    <div class="col-md-6">

                    <div class="form-group has-feedback" id="div_aprobado3">
                        
                      <label> Aprobado? </label>
                      
                      <select id="aprobado3" class="form-control select2" style="width: 100%;">
                        <option selected="selected">...</option>
                        <option>Sí</option>
                        <option>No</option>
                      </select>

                    </div>

                    </div> 

                </div>

              </div>




              <div class="modal-footer">

                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button id="actualizarConcurso" type="button" class="btn btn-success">Guardar</button>
              </div>
            </div>

          </div>

        </div>

      </div>


    <br/>
    <div class="row">
      <!--Success message-->
      <section class="content-body col-md-offset-1 col-md-10">

        <br/>
        <div class="register-box-body">

                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Concursos</h3>
                  </div>

                   <div class="box-body">

                      <table id="tabla" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                            <th>Registro</th>
                            <th>Vacantes</th>
                            <th>Condición</th>
                            <th>Facultad</th>
                            <th>Status</th>                           
                          </tr>
                          </thead>
                          <tbody id="cuerpo">

                          </tbody>
                      </table>
                   </div>

                </div>
  			 </div>      
  		</section> 
  </div>

  <br/>
    <div class="row hide" id="ver">
      <!--Success message-->
      <section class="content-body col-md-offset-1 col-md-10">

        <br/>
        <div class="register-box-body">

                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Detalles</h3>
                  </div>

                   <div class="box-body">

                    <div class="row">

                      <div class="col-md-6">
                                                      
                        <label>Condición de Ingreso Como Ordinario</label>                       
                        <input class="form-control" value="" readOnly="true" id="condicion"/>

                      </div>

                      <div class="col-md-6">
                                                      
                        <label>Tiempo de Dedidación</label>                       
                        <input class="form-control" value="" readOnly="true" id="tiempo"/>

                      </div>

                      </div>

                      <br/>

                      <div class="row">

                      <div class="col-md-6">
                                                      
                        <label>Nro de Horas</label>                       
                        <input class="form-control" value="" readOnly="true" id="horas"/>

                      </div>

                      <div class="col-md-6">
                                                      
                        <label>Sede o Núcleo</label>                       
                        <input class="form-control" value="" readOnly="true" id="sede"/>

                      </div>

                    </div>

                    <br/>

                    <div class="row">

                      <div class="col-md-6">
                                                      
                        <label>Ciudad</label>                       
                        <input class="form-control" value="" readOnly="true" id="ciudad"/>

                      </div>

                      <div class="col-md-6">
                                                      
                        <label>Facultad</label>                       
                        <input class="form-control" value="" readOnly="true" id="facultad"/>

                      </div>

                    </div>

                    <br/>

                    <div class="row">

                      <div class="col-md-6">
                                                      
                        <label>Escuela / Departamento / Instituto</label>                       
                        <input class="form-control" value="" readOnly="true" id="escuela"/>

                      </div>

                      <div class="col-md-6">
                                                      
                        <label>Unidad Académica / Centro de Investigación</label>                       
                        <input class="form-control" value="" readOnly="true" id="unidad"/>

                      </div>

                    </div>

                    <br/>

                    <div class="row">

                      <div class="col-md-6">
                                                      
                        <label>Cátedra o Equivalente</label>                       
                        <input class="form-control" value="" readOnly="true" id="catedra"/>

                      </div>

                      <div class="col-md-6">
                                                      
                        <label>Nro. Cargos</label>                       
                        <input class="form-control" value="" readOnly="true" id="nroVacantes"/>

                      </div>                     

                    </div>

                    <br/>

                    <div class="row">

                      <div class="col-md-6">
                                                      
                        <label>Motivo</label>                       
                        <input class="form-control" value="" readOnly="true" id="motivo"/>

                      </div>

                      <div class="col-md-6">
                                                      
                        <label>Descripción de Motivo</label>                       
                        <input class="form-control" value="" readOnly="true" id="desc_motivo"/>

                      </div>                     

                    </div>

                    <br/>

                    <div class="row">

                      <div class="col-md-6">
                                                      
                        <label>Justificación</label>                       
                        <input class="form-control" value="" readOnly="true" id="justificacion9"/>

                      </div>

                      <div class="col-md-6">
                                                      
                        <label>Grado Académico</label>                       
                        <input class="form-control" value="" readOnly="true" id="grado_academico"/>

                      </div>                     

                    </div>

                    <br/>

                    <div class="row">

                      <div class="col-md-6">
                                                      
                        <label>Profesión</label>                       
                        <input class="form-control" value="" readOnly="true" id="profesion"/>

                      </div>

                      <div class="col-md-6">
                                                      
                        <label>Grado Académico</label>                       
                        <input class="form-control" value="" readOnly="true" id="grado_academico9"/>

                      </div>                     

                    </div>

                    <br/>

                    <div class="row">

                      <div class="col-md-6">
                                                      
                        <label>Requiere Experiencia?</label>                       
                        <input class="form-control" value="" readOnly="true" id="Experiencia9"/>

                      </div>

                      <div class="col-md-6">
                                                      
                        <label>Área de Conocimiento</label>                       
                        <input class="form-control" value="" readOnly="true" id="Conocimiento9"/>

                      </div>                     

                    </div>

                    <br/>

                    <div class="row">

                      <div class="col-md-6">
                                                      
                        <label>Área de Investigación</label>                       
                        <input class="form-control" value="" readOnly="true" id="investigacion9"/>

                      </div>

                      <div class="col-md-6">
                                                      
                        <label>Área de Extesión</label>                       
                        <input class="form-control" value="" readOnly="true" id="area_extension"/>

                      </div>                     

                    </div>

                    <br/>

                    <div class="row">

                      <div class="col-md-6">
                                                      
                        <label>Fecha de Registro</label>                       
                        <input class="form-control" value="" readOnly="true" id="registro"/>

                      </div>                    

                    </div>

                    <br/>

                    <div class="row">

                      <h3>Cursos del Concurso</h3> 

                      <br/>
                      
                        <table id="tabla2" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                            <th>Curso</th>
                            <th>Tiempo</th>                          
                          </tr>
                          </thead>
                          <tbody>

                          </tbody>
                      </table>              

                    </div>

                   </div>

                </div>
         </div>      
      </section> 
  </div>
  
          
    <br/><br/>
    
{% endblock %}

{% block custom_javascripts %}

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/select2/select2.full.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/input-mask/jquery.inputmask.js') }}"></script>
   <script src="{{ asset('assets/vendor/AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
   <script src="{{ asset('assets/js/concursoOposicion/jspdf.min.js') }}"></script>

  <script>
    
      tabla = $('#tabla').DataTable({
        "language": {
                "url": "{{ asset('assets/js/datatable-spanish.json') }}"
          },
          columns: [
              { "data": "inicio" },
              { "data": "vacantes" },
              { "data": "condicion" },
              { "data": "facultad" },
              { "data": "status" },
              { "data": "ver" },
              { "data": "modif" },
              { "data": "elim" }
              ,{ "data": "pdf" }            
          ]
      });

      tabla2 = $('#tabla2').DataTable({
        "language": {
                "url": "{{ asset('assets/js/datatable-spanish.json') }}"
          },
          columns: [
              { "data": "curso" },
              { "data": "tiempo" }          
          ]
      });
          
  </script>

  <script>

    $(".select2").select2();
    $("#datemask").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
      $("[data-mask]").inputmask();

  </script>

  {% include('ConcursoOposicionBundle:Concurso:listadoConcurso.html.twig') %}

{% endblock %}