 {% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>
        Listado de Suplentes del Concursos de Oposici&oacute;n
      </h1> 
      <ol class="breadcrumb">
        <li><i class="fa fa fa-users"></i> Oposici&oacute;n</li>
        <li class="active"> Listado de Suplentes</li>
      </ol>
    </section>

    <br/>
    <div class="row">
      <!--Success message-->
      <section class="content-body col-md-offset-1 col-md-10">
        <br/>
        <div class="register-box-body">
            <form>

                <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Jurados de Oposici&oacute;n</h3>
                  </div>

                   <div class="box-body">

                      <table id="tabla" class="table table-bordered table-striped">
                          <thead>
                          <tr>
                            <th>Nombre(s)</th>
                            <th>Apellido(s)</th>
                            <th>Area Postulaci&oacute;n</th>
                            <th>Facultad</th>
                            <th>Universidad</th>                          
                          </tr>
                          </thead>
                          <tbody id="cuerpo">

                          </tbody>
                          <tfoot>
                             <tr>
                              <th>Nombre(s)</th>
                              <th>Apellido(s)</th>
                              <th>Area Postulaci&oacute;n</th>
                              <th>Facultad</th>
                              <th>Universidad</th>                           
                            </tr>
                          </tfoot>
                      </table>
                   </div>

                </div>

            </form>
        </div>
      </section>
    </div>
    <br/><br/>
    
{% endblock %}

{% block custom_javascripts %}

    <script src="{{ asset('assets/js/concursoOposicion/listarCPEC.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.js') }}"></script>

  <script>
    
      tabla = $('#tabla').DataTable({
        "language": {
                "url": "{{ asset('assets/js/datatable-spanish.json') }}"
          },
          columns: [
              { "data": "nombre" },
              { "data": "apellido" },
              { "data": "areainvestigacion" },
              { "data": "facultad" },
              { "data": "universidad" }
          ]
      });

  </script>

{% endblock %}