{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
      <h1>
        Registro de Resultados del Concursos de Oposici&oacute;n
      </h1> 
      <ol class="breadcrumb">
        <li><i class="fa fa fa-users"></i> Oposici&oacute;n</li>
        <li class="active"> Registro de Resultados</li>
      </ol>
    </section>

    <br/>
    <div class="row">
      <!--Success message-->
      <section class="content-body col-md-offset-1 col-md-10">
        <br/>
        <div class="register-box-body">
            <form>

              <br/>

                <div class="box-body">
                  <div class="row">
                    <div class="col-md-2">
                      <label>Concurso</label>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control select2" style="width: 100%;" id="lista">
                          
                        </select> 
                    </div>
	                <div class="col-xs-2">
	                  <button id="buscar" type="button" class="btn btn-primary btn-block btn-flat">Buscar</button>
	                </div>
	              </div>
	              
	              <BR/><BR/>
		              
	              <div class="row hide" id="jurado">
	              
	              	<div class="box-header">
		              <h3 class="box-title">Aspirantes</h3>
		            </div>
	              
	              	<div class="box-body">
	              	 <table id="tabla" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>C&eacute;dula</th>
                        <th>Tel&eacute;fono</th>
                        <th>Correo</th>
                        <th>Profesi&oacute;n</th>                          
                      </tr>
                      </thead>
                      <tbody id="cuerpo">

                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>C&eacute;dula</th>
                          <th>Tel&eacute;fono</th>
                          <th>Correo</th>
                          <th>Profesi&oacute;n</th>                          
                        </tr>
                      </tfoot>
                  </table>
                  </div>
                  
                   <BR/><BR/>
                  
                  <div class="hide" id="vista">
	                  <div class="box box-primary">
			            <div class="box-header with-border" >
			              <h3 class="box-title" id="nombre">Pruebas</h3>
			            </div>
			              <div class="box-body">
				                <div class="content-body col-md-offset-0 col-md-5">
				                  <label for="exampleInputEmail1">C&eacute;dula Del Aspirante</label>
				                  <input type="text" class="form-control" id="cedula" readOnly="true">
				                </div>
				                <div class="content-body col-md-offset-1 col-md-5">
				                  <label>Estado</label>
				                  <input type="text" class="form-control" id="estado" readOnly="true">
				                </div>
				              </div>
				          
				          
				          <div class="box-body">
				                <div class="content-body col-md-offset-0 col-md-5">
				                  <label>Responsable de Registro</label>
				                  <input type="text" class="form-control" id="usuario" readOnly="true">
				                </div>
				                <div class="content-body col-md-offset-1 col-md-5">
				                  <label>Valoraci&oacute;n De Credenciales</label>
				                  <input type="text" class="form-control" id="credenciales" maxlength="2" onkeypress="return justNumbers(event);">
				                </div>
				            </div>
				            
				            <div class="box-body">
				                <div class="content-body col-md-offset-0 col-md-5">
				                  <label>Aptitud Intelectual</label>
				                  <input type="text" class="form-control" id="intelectual" maxlength="2" onkeypress="return justNumbers(event);">
				                </div>
				                <div class="content-body col-md-offset-1 col-md-5">
				                  <label>Perfil Acad&eacute;mico y Psicol&oacute;gico</label>
				                  <input type="text" class="form-control" id="academico" maxlength="2" onkeypress="return justNumbers(event);">
				                </div>
				            </div>
				            
				            <div class="box-body">
				                <div class="content-body col-md-offset-0 col-md-5">
				                  <label>Aptitud Pedag&oacute;gica</label>
				                  <input type="text" class="form-control" id="pedagogica" maxlength="2" onkeypress="return justNumbers(event);">
				                </div>
				                <div class="content-body col-md-offset-1 col-md-5">
				                  <label>Conocimientos Del Concurso</label>
				                  <input type="text" class="form-control" id="area" maxlength="2" onkeypress="return justNumbers(event);">
				                </div>
				            </div>				          
				            
				            <BR/>
				            
				             <div class="box-body">
				                <div class="content-body col-md-offset-0 col-md-11">
	                  				<button id="guardar" type="button" class="btn btn-success btn-block btn-flat">Guardar</button>
				                </div>
				            </div>
				            </div>
				        </div>
		              
		              	</div>	              
	                </div>
                </div>                
                
            </form>
        </div>
      </section>
    </div>
    <br/><br/>
    
{% endblock %}

{% block custom_javascripts %}

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/select2/select2.full.min.js') }}"></script>

  <script>
  $(function () {

      $(".select2").select2();

  });
  </script>
  
  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.js') }}"></script>

  <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.js') }}"></script>

  <script>
    
      tabla = $('#tabla').DataTable({
        "language": {
                "url": "{{ asset('assets/js/datatable-spanish.json') }}"
          },
          columns: [
              { "data": "nombre" },
              { "data": "apellido" },
              { "data": "cedula" },
              { "data": "telefono" },
              { "data": "correo" },
              { "data": "profesion" },
              { "data": "modif" }
          ]
      });

  </script>
  
  {% include('ConcursoOposicionBundle:Resultado:saveResultado.html.twig') %}
  
  <script src="{{ asset('assets/js/concursoOposicion/saveResultados.js') }}"></script>

{% endblock %}