{% extends 'base.html.twig' %}

{% block content %}
    <!--User data header-->
    <section class="content-header">
      <h1>Registrar Datos</h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-fa fa-address-card-o"></i>Registro único</li>
        <li class="active">Registrar datos</li>
      </ol>
    </section>
    <!--User data header-->
    <br/>
     <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Usuarios registrados</h4>
          </div>
          <div class="modal-body">
            <table id="tableUsers" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Email</th>
                <th>Estatus</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
              <tfoot>
              <tr>
               <th>Email</th>
               <th>Estatus</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!--User data body-->
    <form>
      <div class="row">
        <section class="content-body">
            <!--seccion for generate box-->
            <div class="col-md-offset-1 col-md-10">
              <div class="box box-info">
                  <div class="box-header with-border">
                    <div class="row">
                      <div class="col-md-offset-1 col-md-5">
                        <div class="form-group has-feedback">
                              <input id="gemail" type="email" class="form-control" placeholder="Email del usuario">
                              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group has-feedback">
                              <button id="generate" type="button" class="btn btn-primary btn-block btn-flat">Generar</button>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group has-feedback">
                              <button  id="viewUsers" type="button" class="btn btn-primary btn-block btn-flat" data-toggle="modal" data-target="#myModal">Ver usuarios</button>
                        </div>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
            <!--seccion for generate boxes-->

            <!--personal and contact box-->
            <div id="formPersonal" class="col-md-offset-1 col-md-10 hidden">
              <!-- /.box-info -->
              <div id="headerPersonal" class="box-footer">
                <strong>Sección para ingresar datos personales y de contactos.</strong>
              </div>
               <!-- /.box-header -->
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Sección 1</h3>
                  <div class="box-tools pull-right">
                    <button type="button" id="miniPersonal" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div id="divPrimerNombreDatos" class="form-group has-feedback">
                        <label>Primer nombre</label>
                        <input type="text" id="PrimerNombreDatos" class="form-control" placeholder="Primer nombre" required>
                        <span id="spanPrimerNombreDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                      <div id="divSegundoNombreDatos" class="form-group has-feedback">
                        <label>Segundo nombre</label>
                        <input type="text" id="SegundoNombreDatos" class="form-control" placeholder="Segundo nombre" required>
                        <span id="spanSegundoNombreDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divPrimerApellidoDatos" class="form-group has-feedback">
                        <label>Primer apellido</label>
                        <input type="text" id="PrimerApellidoDatos" class="form-control" placeholder="Primer apellido" required>
                        <span id="spanPrimerApellidoDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                      <div id="divSegundoApellidoDatos" class="form-group has-feedback">
                        <label>Segundo apellido</label>
                        <input type="text" id="SegundoApellidoDatos" class="form-control" placeholder="Segundo apellido" required>
                        <span id="spanSegundoApellidoDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                  </div>
                  <!-- /.row -->
                  <div class="row">
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divNacionalidadDatos" class="form-group has-feedback">
                        <label>Nacionalidad</label>
                        <select id="NacionalidadDatos" class="form-control select2" style="width: 100%;" required>
                          <option selected="selected" value="">Seleccione una opción</option>
                          <option value="Venezolano">Venezolano</option>
                          <option value="Extranjero">Extranjero</option>
                        </select>
                        <span id="spanNacionalidadDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                      <div id="divFechaNacimientoDatos" class="form-group has-feedback">
                        <label>Fecha de nacimiento</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input id="FechaNacimientoDatos" type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divEdadDatos" class="form-group has-feedback">
                        <label>Edad</label>
                        <input type="number" id="EdadDatos" class="form-control" placeholder="Edad" min="18" max="80" required>
                        <span id="spanEdadDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                      <div id="divSexoDatos" class="form-group has-feedback">
                        <label>Sexo</label>
                        <select class="form-control select2" id="SexoDatos" style="width: 100%;" required>
                          <option selected="selected" value="">Seleccione una opción</option>
                          <option value="Masculino">Masculino</option>
                          <option value="Femenino">Femenino</option>
                        </select>
                        <span id="spanSexoDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <div class="row">
                    <div class="col-md-6">
                      <div id="divRifDatos" class="form-group has-feedback">
                        <label>RIF</label>
                        <input id="RifDatos" type="number" class="form-control" placeholder="RIF">
                        <span id="spanRifDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divNumeroDatos" class="form-group">
                        <label>Telefono</label>
                        <div class="row">
                            <div class="col-xs-4">
                              <input id="NumeroDatos" type="number" class="form-control" placeholder="Cod. Area" min="100" max="999">
                            </div>
                            <strong><label class="col-xs-1">—</label></strong>
                            <div class="col-xs-7">
                              <input id="NumeroDatosII" type="number" class="form-control" placeholder="Nro. de telefono" min="1000000" max="9999999">
                            </div>
                        </div>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Dirección</label>
                        <textarea id="direccionDatosI" class="form-control" rows="3" placeholder="Dirección" style="resize:none"></textarea>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
              </div>
              <!-- /.box -->
            </div>
            <!--personal and contact data box-->

            <!--+carg box-->
            <div id="formCargos" class="col-md-offset-1 col-md-10 hidden">
              <!-- /.box-info -->
              <div id="headerCargos" class="box-footer">
                <strong>Sección para ingresar los cargos desempeñados en la UC.</strong>
              </div>
               <!-- /.box-header -->
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Sección 2</h3>
                  <div class="box-tools pull-right">
                    <button type="button" id="miniCargos" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                  <div class="row">
                      <div class="col-md-12">
                        <!-- /.form-group -->
                        <div id="divCargosDatos" class="form-group has-feedback">
                          <label>Cargos</label>
                          <select id="cargosDatos" class="form-control select2" style="width: 100%;">
                          </select>
                          <span id="spanCargosDatos" class="glyphicon form-control-feedback"></span>
                        </div>
                        <!-- /.form-group -->
                      </div>
                      <div class="col-md-offset-4 col-md-4">
                          <div class="form-group has-feedback">
                                <button id="agregarCargoDatos" type="button" class="btn btn-primary btn-block btn-flat">Agregar cargo</button>
                          </div>
                      </div>
                  </div>
                  <hr/>
                  <table id="tableCargo" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Cargo</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                     <th>Cargo</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.box -->
             </div>
             <!--research,courses and studies box-->
            </div>
            <!--+carg box-->


            <!--research,courses and studies box-->
            <div id="formRegistros" class="col-md-offset-1 col-md-10 hidden">
              <!-- /.box-info -->
              <div id="headerRegistros" class="box-footer">
                <strong>Sección para ingresar investigaciones, articulos, asistencias a congresos, estudios y cursos realizados.</strong>
              </div>
               <!-- /.box-header -->
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Sección 3</h3>
                  <div class="box-tools pull-right">
                    <button type="button" id="miniRegistros" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      <!-- /.form-group -->
                      <div id="divEstatusDatos" class="form-group has-feedback">
                        <label>Estatus</label>
                        <select id="EstatusDatos" class="form-control select2" style="width: 100%;">
                        </select>
                        <span id="spanEstatusDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divNivelDeEstudioDatos" class="form-group has-feedback">
                        <label>Nivel de estudio</label>
                        <select id="NivelDeEstudioDatos" class="form-control select2" style="width: 100%;">
                        </select>
                        <span id="spanNivelDeEstudioDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div id="divTipoDeRegistroDatos" class="form-group has-feedback">
                        <label>Tipo de registro</label>
                        <select id="TipoDeRegistroDatos" class="form-control select2" style="width: 100%;">
                        </select>
                        <span id="spanTipoDeRegistroDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divDescripcionDatos" class="form-group has-feedback">
                        <label>Descripción</label>
                        <input id="DescripcionDatos" type="text" class="form-control" placeholder="Nombre">
                        <span id="spanDescripcionDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divAnoPublicacionDatos" class="form-group has-feedback">
                        <label>Año de publicacion y/o asistencia</label>
                        <input id="AnoPublicacionDatos" type="number" class="form-control" placeholder="Año" min="1">
                        <span id="spanAnoPublicacionDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <div id="hiddenEmpresaDatos" class="col-md-12 hidden">
                      <!-- /.form-group -->
                      <div id="divEmpresaDatos" class="form-group has-feedback">
                        <label>Empresa</label>
                        <input id="EmpresaDatos" type="text" class="form-control" placeholder="Empresa">
                        <span id="spanEmpresaDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <div id="hiddenInstitucionDatos" class="col-md-12 hidden">
                      <!-- /.form-group -->
                      <div id="divInstitucionDatos" class="form-group has-feedback">
                        <label>Institución</label>
                        <input id="InstitucionDatos" type="text" class="form-control" placeholder="Institución">
                        <span id="spanInstitucionDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                        <div class="form-group has-feedback">
                              <button id="agregarRegistro" type="button" class="btn btn-primary btn-block btn-flat">Agregar registro</button>
                        </div>
                    </div>
                  </div>
                  <hr/>
                  <table id="tableRegistros" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Id del registro</th>
                    <th>Tipo de referencia</th>
                    <th>Descripción</th>
                    <th>Nivel</th>
                    <th>Estatus</th>
                    <th>Año de publicación y/o asistencia</th>
                    <th>Empresa y/o institución</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Id del registro</th>
                    <th>Tipo de referencia</th>
                    <th>Descripción</th>
                    <th>Nivel</th>
                    <th>Estatus</th>
                    <th>Año de publicación y/o asistencia</th>
                    <th>Empresa y/o institución</th>
                  </tr>
                  </tfoot>
                </table>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                      <h3>Participantes</h3>
                    </div>
                    <div class="col-md-4">
                      <!-- /.form-group -->
                      <div class="form-group">
                        <label>Nombre completo</label>
                        <input id="NombreParticipanteRegistro" type="text" class="form-control" placeholder="Nombre del participantes">
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Cedula</label>
                        <input id="CedulaParticipanteRegistro" type="number" class="form-control" placeholder="cedula" min="1">
                      </div>
                    </div>
                     <!-- /.col -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Id del registro</label>
                        <select id="IdParticipanteRegistro" class="form-control select2" style="width: 100%;">
                        </select>
                      </div>
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                        <div class="form-group has-feedback">
                              <button id="agregarParticipantes" type="button" class="btn btn-primary btn-block btn-flat">Agregar participante</button>
                        </div>
                    </div>
                </div>
                <hr/>
                <table id="tableParticipantes" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Id del registro</th>
                    <th>Nombre</th>
                    <th>Cedula</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Id del registro</th>
                    <th>Nombre</th>
                    <th>Cedula</th>
                  </tr>
                  </tfoot>
                </table>
                <hr/>
                <div id="revista">
                  <div class="row">
                      <div class="col-md-12">
                        <h3>Revistas de publicación</h3>
                      </div>
                      <div class="col-md-6">
                        <!-- /.form-group -->
                        <div class="form-group">
                          <label>Descripcion</label>
                          <input id="descrpcionRevistaRegistro" type="text" class="form-control" placeholder="Nombre de la revista">
                        </div>
                        <!-- /.form-group -->
                      </div>
                      <!-- /.col -->
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Id del registro</label>
                          <select id="idRevistaRegistro" class="form-control select2" style="width: 100%;">
                          </select>
                        </div>
                      </div>
                      <div class="col-md-offset-4 col-md-4">
                          <div class="form-group has-feedback">
                                <button id="agregarRevista" type="button" class="btn btn-primary btn-block btn-flat">Agregar revista</button>
                          </div>
                      </div>
                  </div>
                  <hr/>
                  <table id="tableRevista" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Id del registro</th>
                      <th>Revista</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>Id del registro</th>
                      <th>Revista</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <!-- /.box -->
            </div>
            <!--research,courses and studies box-->
            </div>
        </section>
        <div id="save" class="col-md-offset-4 col-md-4 hidden">
            <div class="form-group has-feedback">
                  <button id="submitData" type="button" class="btn btn-primary btn-block btn-flat">Guardar Datos</button>
            </div>
        </div>
      </div>
      <!--User data body-->
    </form>
{% endblock %}

{% block custom_javascripts %}
  <script src="{{ asset('assets/js/RegistroUnico/iniRD.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/configTable.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/showField.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/insertAndDeleteTable.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/generate.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/saveData.js') }}"></script>
{% endblock %}
