{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/RegistroUnico/RegistrarDatos/inputFile.css') }}">
{% endblock %}

{% block content %}
    <!--User data header-->
    <section class="content-header">
      <h1>Registrar Datos</h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-fa fa-address-card-o"></i>Registro único</li>
        <li class="active">Registrar datos</li>
      </ol>
    </section>
    <!--User data header-->
    <br/>
    <!-- Modal -->
    <div class="modal fade" id="myModal3" role="dialog"  data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content alert alert-warning" style="border-radius: 25px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Advertencia!</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-offset-2 col-md-3">
                <img src="{{ asset('assets/images/danger-34250_640.png') }}" class="img-rounded" alt="Cinque Terre" width="70%" height="70%" />
                <!--<img src="{{ asset('assets/images/danger-34250_640.png') }}"/>-->
              </div>
              <div class="col-xs-pul-1 col-md-6">
                <h3>Por favor verifique que los datos y los archivos esten correctos!</h3>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-xs-1">
                  <button id="continue" type="button" class="btn btn-default">Continuar</button>
              </div>
              <div class="col-xs-10">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Modal -->
    
    <div class="modal fade" id="myModal2" role="dialog" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div>
          <img src="{{ asset('assets/images/carga.gif') }}" style="position: absolute; top:50%; left:50%; width:350px; margin-left:-200px; height:350px; margin-top:20%;"/>
          <br/>
          <label id="modalLabel" style="position: absolute; top:50%; left:60%; width:400px; margin-left:-200px; height:300px; margin-top:5%; color: white; font: 150% sans-serif;"></label>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Usuarios registrados</h4>
          </div>
          <div class="modal-body">
            <div style="overflow-x: scroll; white-space: nowrap;">
              <table id="tableUsers" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Email</th>
                  <th>Estatus</th>
                  <th>Registro Completo</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                 <th>Email</th>
                 <th>Estatus</th>
                 <th>Registro Completo</th>
                 <th></th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>

      </div>
    </div>

    <!--User data body-->
    <form name="completeForm" id="completeForm" action="{{ path('registro_guardararchivos_ajax') }}" method="post" enctype="multipart/form-data" novalidate>
      <div class="row">
        <section class="content-body">
            <!--seccion for generate box-->
            <div class="col-md-offset-1 col-md-10">
              <div class="box box-info">
                  <div class="box-header with-border">
                    <div class="row">
                      <div class="col-md-offset-1 col-md-5">
                        <div class="form-group has-feedback">
                              <input id="mail" name="mail" type="email" class="form-control" placeholder="Email del usuario">
                              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group has-feedback">
                              <button id="generate" type="button" class="btn btn-primary btn-block btn-flat">Generar</button>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group has-feedback">
                              <button  id="viewUsers" type="button" class="btn btn-primary btn-block btn-flat" data-toggle="modal" data-target="#myModal">Ver usuarios</button>
                        </div>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
            <!--seccion for generate boxes-->

            <!--personal and contact box-->
            <div id="formPersonal" class="col-md-offset-1 col-md-10 hidden">
              <!-- /.box-info -->
              <div id="headerPersonal" class="box-footer">
                <strong>Sección para ingresar datos personales y de contactos.</strong>
              </div>
               <!-- /.box-header -->
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Sección 1</h3>
                  <div class="box-tools pull-right">
                    <button type="button" id="miniPersonal" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div id="divPrimerNombreDatos" class="form-group has-feedback">
                        <label>Primer nombre</label>
                        <input type="text" id="PrimerNombreDatos" class="form-control" placeholder="Primer nombre" required>
                        <span id="spanPrimerNombreDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                      <div id="divSegundoNombreDatos" class="form-group has-feedback">
                        <label>Segundo nombre</label>
                        <input type="text" id="SegundoNombreDatos" class="form-control" placeholder="Segundo nombre" required>
                        <span id="spanSegundoNombreDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divPrimerApellidoDatos" class="form-group has-feedback">
                        <label>Primer apellido</label>
                        <input type="text" id="PrimerApellidoDatos" class="form-control" placeholder="Primer apellido" required>
                        <span id="spanPrimerApellidoDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                      <div id="divSegundoApellidoDatos" class="form-group has-feedback">
                        <label>Segundo apellido</label>
                        <input type="text" id="SegundoApellidoDatos" class="form-control" placeholder="Segundo apellido" required>
                        <span id="spanSegundoApellidoDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                  </div>
                  <!-- /.row -->
                  <div class="row">
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divNacionalidadDatos" class="form-group has-feedback">
                        <label>Nacionalidad</label>
                        <select id="NacionalidadDatos" class="form-control select2" style="width: 100%;" required>
                          <option selected="selected" value="">Seleccione una opción</option>
                          <option value="Venezolano">Venezolano</option>
                          <option value="Extranjero">Extranjero</option>
                        </select>
                        <span id="spanNacionalidadDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                      <div id="divFechaNacimientoDatos" class="form-group has-feedback">
                        <label>Fecha de nacimiento</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input id="FechaNacimientoDatos" type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divEdadDatos" class="form-group has-feedback">
                        <label>Edad</label>
                        <input type="number" id="EdadDatos" class="form-control" placeholder="Edad" min="18" max="80" required>
                        <span id="spanEdadDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                      <div id="divSexoDatos" class="form-group has-feedback">
                        <label>Sexo</label>
                        <select class="form-control select2" id="SexoDatos" style="width: 100%;" required>
                          <option selected="selected" value="">Seleccione una opción</option>
                          <option value="Masculino">Masculino</option>
                          <option value="Femenino">Femenino</option>
                        </select>
                        <span id="spanSexoDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <div class="row">
                    <div class="col-md-6">
                      <div id="divRifDatos" class="form-group has-feedback">
                        <label>RIF</label>
                        <input id="RifDatos" type="number" class="form-control" placeholder="RIF">
                        <span id="spanRifDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divNumeroDatos" class="form-group">
                        <label>Telefono</label>
                        <div class="row">
                            <div class="col-xs-4">
                              <input id="NumeroDatos" type="number" class="form-control" placeholder="Cod. Area" min="100" max="999">
                            </div>
                            <strong><label class="col-xs-1">—</label></strong>
                            <div class="col-xs-7">
                              <input id="NumeroDatosII" type="number" class="form-control" placeholder="Nro. de telefono" min="1000000" max="9999999">
                            </div>
                        </div>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label>Dirección</label>
                        <textarea id="DireccionDatos" class="form-control" rows="3" placeholder="Dirección" style="resize:none"></textarea>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <div class="row">
                    <div class="col-md-6">
                      <div id="divFechaVencimientoCedulaDatos" class="form-group has-feedback">
                        <label>Fecha de vencimiento de la cedula</label>
                        <div class='input-group date' id='datetimepicker3'>
                            <input id="FechaVencimientoCedulaDatos" name="FechaVencimientoCedulaDatos" type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divFechaVencimientoRifDatos" class="form-group has-feedback">
                        <label>Fecha de vencimiento del RIF</label>
                        <div class='input-group date' id='datetimepicker4'>
                            <input id="FechaVencimientoRifDatos" name="FechaVencimientoRifDatos" type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <div class="row">
                    <div class="col-md-12">
                      <div id="divFechaVencimientoActaNacimientoDatos" class="form-group has-feedback">
                        <label>Fecha de vencimiento del acta de nacimiento</label>
                        <div class='input-group date' id='datetimepicker5'>
                            <input id="FechaVencimientoActaNacimientoDatos" name="FechaVencimientoActaNacimientoDatos" type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                  <div class="row">    
                    <div class="col-md-12">
                    <div id="divCedulaRifActaCargaDatos" class="form-group has-feedback">
                      <label class="control-label">Seleccione la cedula, Rif y actas de nacimiento</label>
                      <input id="CedulaRifActaCargaDatos" name="input3[]" accept="application/pdf"  type="file" class="file" multiple data-show-upload="false" data-show-caption="true">
                      <span id="spanCedulaRifActaCargaDatos" class="glyphicon form-control-feedback"></span>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
            </div>
            <!--personal and contact data box-->

            <!--+carg box-->
            <div id="formCargos" class="col-md-offset-1 col-md-10 hidden">
              <!-- /.box-info -->
              <div id="headerCargos" class="box-footer">
                <strong>Sección para ingresar los cargos desempeñados en la UC y el tipo de dedicación.</strong>
              </div>
               <!-- /.box-header -->
              <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Sección 2</h3>
                  <div class="box-tools pull-right">
                    <button type="button" id="miniCargos" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-12">
                      <!-- /.form-group -->
                        <div id="divTipoDedicacionDatos" class="form-group has-feedback">
                          <label>Tipo de dedicacion</label>
                          <select id="tipoDedicacionDatos" class="form-control select2" style="width: 100%;">
                          </select>
                          <span id="spanTipoDedicacionDatos" class="glyphicon form-control-feedback"></span>
                        </div>
                        <!-- /.form-group -->
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <!-- /.form-group -->
                        <div id="divCargosDatos" class="form-group has-feedback">
                          <label>Cargos</label>
                          <select id="cargosDatos" class="form-control select2" style="width: 100%;">
                          </select>
                          <span id="spanCargosDatos" class="glyphicon form-control-feedback"></span>
                        </div>
                        <!-- /.form-group -->
                      </div>
                      <div class="col-md-6">
                      <div id="divFechaInicioCargoDatos" class="form-group has-feedback">
                        <label>Fecha de inicio en el cargo</label>
                        <div class='input-group date' id='datetimepicker7'>
                            <input id="FechaInicioCargoDatos" name="FechaInicioCargoDatos" type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                      </div>
                      <!-- /.form-group -->
                    </div>
                      <div class="col-md-offset-4 col-md-4">
                          <div class="form-group has-feedback">
                                <button id="agregarCargoDatos" type="button" class="btn btn-primary btn-block btn-flat">Agregar cargo</button>
                          </div>
                      </div>
                  </div>
                  <hr/>
                  <div style="overflow-x: scroll; white-space: nowrap;">
                    <table id="tableCargo" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>Cargo</th>
                        <th>Fecha de inicio en el cargo</th>
                      </tr>
                      </thead>
                      <tbody>
                      </tbody>
                      <tfoot>
                      <tr>
                       <th>Cargo</th>
                       <th>Fecha de inicio en el cargo</th>
                      </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <!-- /.box -->
             </div>
             <!--research,courses and studies box-->
            </div>
            <!--+carg box-->


            <!--research,courses and studies box-->
            <div id="formRegistros" class="col-md-offset-1 col-md-10 hidden">
              <!-- /.box-info -->
              <div id="headerRegistros" class="box-footer">
                <strong>Sección para ingresar investigaciones, articulos, asistencias a congresos, estudios y cursos realizados.</strong>
              </div>
               <!-- /.box-header -->
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Sección 3</h3>
                  <div class="box-tools pull-right">
                    <button type="button" id="miniRegistros" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <!-- /.box-body -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      <!-- /.form-group -->
                      <div id="divEstatusDatos" class="form-group has-feedback">
                        <label>Estatus</label>
                        <select id="EstatusDatos" class="form-control select2" style="width: 100%;">
                        </select>
                        <span id="spanEstatusDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divNivelDeEstudioDatos" class="form-group has-feedback">
                        <label>Nivel de estudio</label>
                        <select id="NivelDeEstudioDatos" class="form-control select2" style="width: 100%;">
                        </select>
                        <span id="spanNivelDeEstudioDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div id="divTipoDeRegistroDatos" class="form-group has-feedback">
                        <label>Tipo de registro</label>
                        <select id="TipoDeRegistroDatos" class="form-control select2" style="width: 100%;">
                        </select>
                        <span id="spanTipoDeRegistroDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divDescripcionDatos" class="form-group has-feedback">
                        <label id="DescripcionLabel"></label>
                        <input id="DescripcionDatos" type="text" class="form-control" placeholder="Nombre">
                        <span id="spanDescripcionDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                      <div id="divAnoPublicacionDatos" class="form-group has-feedback">
                        <label id="AnoPublicacionLabel"></label>
                        <input id="AnoPublicacionDatos" type="number" class="form-control" placeholder="Año" min="1">
                        <span id="spanAnoPublicacionDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <div id="hiddenCiudadPaisDatos" class="col-md-12 hidden">
                      <!-- /.form-group -->
                      <div id="divCiudadPaisDatos" class="form-group has-feedback">
                        <label id="CiudadPaisLabel"></label>
                        <input id="CiudadPaisDatos" type="text" class="form-control" placeholder="Ciudad/Pais">
                        <span id="spanCiudadPaisDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <div id="hiddenCongresosDatos" class="col-md-12 hidden">
                      <!-- /.form-group -->
                      <div id="divCongresosDatos" class="form-group has-feedback">
                        <label id="CongresosLabel"></label>
                        <input id="CongresosDatos" type="text" class="form-control" placeholder="Congresos">
                        <span id="spanCongresosDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <div id="hiddenEmpresaDatos" class="col-md-12 hidden">
                      <!-- /.form-group -->
                      <div id="divEmpresaDatos" class="form-group has-feedback">
                        <label id="EmpresaLabel"></label>
                        <input id="EmpresaDatos" type="text" class="form-control" placeholder="Empresa">
                        <span id="spanEmpresaDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <div id="hiddenInstitucionDatos" class="col-md-12 hidden">
                      <!-- /.form-group -->
                      <div id="divInstitucionDatos" class="form-group has-feedback">
                        <label id="InstitucionLabel"></label>
                        <input id="InstitucionDatos" type="text" class="form-control" placeholder="Institución / Casa editorial / Financiamiento">
                        <span id="spanInstitucionDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <div id="hiddenTituloObtenidoDatos" class="col-md-12 hidden">
                      <!-- /.form-group -->
                      <div id="divTituloObtenidoDatos" class="form-group has-feedback">
                        <label id="TituloObtenidoLabel"></label>
                        <input id="TituloObtenidoDatos" type="text" class="form-control" placeholder="Titulo Obtenido">
                        <span id="spanTituloObtenidoDatos" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    
                    <div class="col-md-offset-4 col-md-4">
                        <div class="form-group has-feedback">
                              <button id="agregarRegistro" type="button" class="btn btn-primary btn-block btn-flat">Agregar registro</button>
                        </div>
                    </div>
                  </div>
                  <hr/>
                  <div style="overflow-x: scroll; white-space: nowrap;">
                   <table id="tableRegistros" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Id del registro</th>
                      <th>Tipo de referencia</th>
                      <th>Descripción</th>
                      <th>Nivel</th>
                      <th>Estatus</th>
                      <th>Año de publicación y/o asistencia</th>
                      <th>Empresa / Institución / Financiamiento y/o Casa editorial</th>
                      <th>Titulo Obtenido</th>
                      <th>Ciudad / Pais</th>
                      <th>Congreso</th>
                      <th>Archivo de validación</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>Id del registro</th>
                      <th>Tipo de referencia</th>
                      <th>Descripción</th>
                      <th>Nivel</th>
                      <th>Estatus</th>
                      <th>Año de publicación y/o asistencia</th>
                      <th>Empresa / Institución / Financiamiento y/o Casa editorial</th>
                      <th>Titulo Obtenido</th>
                      <th>Ciudad / Pais</th>
                      <th>Congreso</th>
                      <th>Archivo de validación</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                      <h3>Participantes / Autores</h3>
                    </div>
                    <div class="col-md-4">
                      <!-- /.form-group -->
                      <div id="divNombreParticipanteRegistro" class="form-group has-feedback">
                        <label>Nombre completo</label>
                        <input id="NombreParticipanteRegistro" type="text" class="form-control" placeholder="Nombre del participantes">
                        <span id="spanNombreParticipanteRegistro" class="glyphicon form-control-feedback"></span>
                      </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                      <div id="divCedulaParticipanteRegistro" class="form-group has-feedback">
                        <label>Cedula</label>
                        <input id="CedulaParticipanteRegistro" type="number" class="form-control" placeholder="cedula" min="1">
                        <span id="spanCedulaParticipanteRegistro" class="glyphicon form-control-feedback"></span>
                      </div>
                    </div>
                     <!-- /.col -->
                    <div class="col-md-4">
                      <div id="divIdParticipanteRegistro" class="form-group has-feedback">
                        <label>Id del registro</label>
                        <select id="IdParticipanteRegistro" class="form-control select2" style="width: 100%;">
                        </select>
                        <span id="spanIdParticipanteRegistro" class="glyphicon form-control-feedback"></span>
                      </div>
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                        <div class="form-group has-feedback">
                              <button id="agregarParticipantes" type="button" class="btn btn-primary btn-block btn-flat">Agregar participante</button>
                        </div>
                    </div>
                </div>
                <hr/>
                <div style="overflow-x: scroll; white-space: nowrap;">
                  <table id="tableParticipantes" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Id del registro</th>
                      <th>Nombre</th>
                      <th>Cedula</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>Id del registro</th>
                      <th>Nombre</th>
                      <th>Cedula</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <hr/>
                <div id="revista">
                  <div class="row">
                      <div class="col-md-12">
                        <h3>Revistas de publicación / Libros y monografias</h3>
                      </div>
                      <div class="col-md-6">
                        <!-- /.form-group -->
                        <div id="divVolumenRevistaRegistro" class="form-group  has-feedback">
                          <label>Volumen</label>
                          <input id="volumenRevistaRegistro" type="text" class="form-control" placeholder="Volumen">
                          <span id="spanVolumenRevistaRegistro" class="glyphicon form-control-feedback"></span>
                        </div>
                        <!-- /.form-group -->
                      </div>
                      <!-- /.col -->
                      <div class="col-md-6">
                        <div id="divPrimerayUltimaPaginaRevistaRegistro" class="form-group  has-feedback">
                          <label>Primera y última página</label>
                          <input id="primerayUltimaPaginaRevistaRegistro" type="text" class="form-control" placeholder="Primera y última página">
                          <span id="spanPrimerayUltimaPaginaRevistaRegistro" class="glyphicon form-control-feedback"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <!-- /.form-group -->
                        <div id="divDescrpcionRevistaRegistro" class="form-group  has-feedback">
                          <label>Nombre de la revista</label>
                          <input id="descrpcionRevistaRegistro" type="text" class="form-control" placeholder="Nombre de la revista">
                          <span id="spanDescrpcionRevistaRegistro" class="glyphicon form-control-feedback"></span>
                        </div>
                        <!-- /.form-group -->
                      </div>
                      <!-- /.col -->
                      <div class="col-md-6">
                        <div id="divIdRevistaRegistro" class="form-group  has-feedback">
                          <label>Id del registro</label>
                          <select id="idRevistaRegistro" class="form-control select2" style="width: 100%;">
                          </select>
                          <span id="spanIdRevistaRegistro" class="glyphicon form-control-feedback"></span>
                        </div>
                      </div>
                      <div class="col-md-offset-4 col-md-4">
                          <div class="form-group has-feedback">
                                <button id="agregarRevista" type="button" class="btn btn-primary btn-block btn-flat">Agregar revista</button>
                          </div>
                      </div>
                  </div>
                  <hr/>
                  <div style="overflow-x: scroll; white-space: nowrap;">
                    <table id="tableRevista" class="table table-bordered table-striped">
                      <thead>
                      <tr>
                        <th>Id del registro</th>
                        <th>Revista</th>
                        <th>Volumen</th>
                        <th>Primera y última página</th>
                      </tr>
                      </thead>
                      <tbody>
                      </tbody>
                      <tfoot>
                      <tr>
                        <th>Id del registro</th>
                        <th>Revista</th>
                        <th>Volumen</th>
                        <th>Primera y última página</th>
                      </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
              <!-- /.box -->
            </div>
            <!--research,courses and studies box-->
          </div>
          <div id="divCheckbox" class="col-md-offset-1 col-md-10 hidden">
            <input type="checkbox" id="checkboxHijos" name="checkboxHijos" value="activo"/> <strong>Ingresar datos de hijos</strong><br/><br/>
          </div>
          <!--+carg box-->
          <div id="formHijos" class="col-md-offset-1 col-md-10 hidden">
            <!-- /.box-info -->
            <div id="headerHijos" class="box-footer">
              <strong>Sección para ingresar los datos de los hijos.</strong>
            </div>
             <!-- /.box-header -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Sección 4</h3>
                <div class="box-tools pull-right">
                  <button type="button" id="miniHijos" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div id="divCedulaMadreHijoDatos" class="form-group has-feedback">
                      <label>Cedula de la madre</label>
                      <input type="number" id="CedulaMadreHijoDatos" class="form-control" placeholder="Cedula de la madre" required>
                      <span id="spanCedulaMadreHijoDatos" class="glyphicon form-control-feedback"></span>
                    </div>
                  </div>
                  <!-- /.col -->
                  <div class="col-md-6">
                    <div id="divCedulaPadreHijoDatos" class="form-group has-feedback">
                      <label>Cedula del padre</label>
                      <input type="number" id="CedulaPadreHijoDatos" class="form-control" placeholder="Cedula del padre" required>
                      <span id="spanCedulaPadreHijoDatos" class="glyphicon form-control-feedback"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div id="divPrimerNombreHijoDatos" class="form-group has-feedback">
                      <label>Primer nombre</label>
                      <input type="text" id="PrimerNombreHijoDatos" class="form-control" placeholder="Primer nombre" required>
                      <span id="spanPrimerNombreHijoDatos" class="glyphicon form-control-feedback"></span>
                    </div>
                    <!-- /.form-group -->
                    <div id="divSegundoNombreHijoDatos" class="form-group has-feedback">
                      <label>Segundo nombre</label>
                      <input type="text" id="SegundoNombreHijoDatos" class="form-control" placeholder="Segundo nombre" required>
                      <span id="spanSegundoNombreHijoDatos" class="glyphicon form-control-feedback"></span>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-6">
                    <div id="divPrimerApellidoHijoDatos" class="form-group has-feedback">
                      <label>Primer apellido</label>
                      <input type="text" id="PrimerApellidoHijoDatos" class="form-control" placeholder="Primer apellido" required>
                      <span id="spanPrimerApellidoHijoDatos" class="glyphicon form-control-feedback"></span>
                    </div>
                    <!-- /.form-group -->
                    <div id="divSegundoApellidoHijoDatos" class="form-group has-feedback">
                      <label>Segundo apellido</label>
                      <input type="text" id="SegundoApellidoHijoDatos" class="form-control" placeholder="Segundo apellido" required>
                      <span id="spanSegundoApellidoHijoDatos" class="glyphicon form-control-feedback"></span>
                    </div>
                    <!-- /.form-group -->
                  </div>
                </div>
                <!-- /.row -->
                <div class="row">
                  <!-- /.col -->
                  <div class="col-md-6">
                    <div id="divCedulaHijoDatos" class="form-group has-feedback">
                      <label>Cedula del hijo</label>
                      <input type="number" id="CedulaHijoDatos" class="form-control" placeholder="Cedula del hijo" required>
                      <span id="spanCedulaHijoDatos" class="glyphicon form-control-feedback"></span>
                    </div>
                    <!-- /.form-group -->
                    <div id="divFechaNacimientoHijoDatos" class="form-group has-feedback">
                      <label>Fecha de nacimiento</label>
                      <div class='input-group date' id='datetimepicker2'>
                          <input id="FechaNacimientoHijoDatos" type='text' class="form-control" />
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-6">
                    <div id="divNacionalidadHijoDatos" class="form-group has-feedback">
                      <label>Nacionalidad</label>
                      <select id="NacionalidadHijoDatos" class="form-control select2" style="width: 100%;" required>
                        <option selected="selected" value="">Seleccione una opción</option>
                        <option value="Venezolano">Venezolano</option>
                        <option value="Extranjero">Extranjero</option>
                      </select>
                      <span id="spanNacionalidadHijoDatos" class="glyphicon form-control-feedback"></span>
                    </div>
                    <div id="divFechaVencimientoActaNacimientoHijoDatos" class="form-group has-feedback">
                      <label>Fecha de vencimiento del acta de nacimiento</label>
                      <div class='input-group date' id='datetimepicker6'>
                          <input id="FechaVencimientoActaNacimientoHijoDatos" name="FechaVencimientoActaNacimientoHijoDatos" type='text' class="form-control" />
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-12">
                    <div id="divActaNacCargaHijoDatos" class="form-group has-feedback">
                      <label class="control-label">Seleccione las actas de nacimiento</label>
                      <input id="ActaNacCargaHijoDatos" name="input2[]" accept="application/pdf"  type="file" class="file" multiple data-show-upload="false" data-show-caption="true">
                      <span id="spanActaNacCargaHijoDatos" class="glyphicon form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="col-md-offset-4 col-md-4">
                      <br/>
                      <div class="form-group has-feedback">
                            <button id="agregarHijo" type="button" class="btn btn-primary btn-block btn-flat">Agregar hijo</button>
                      </div>
                  </div>
                </div>
                <hr/>
                <div style="overflow-x: scroll; white-space: nowrap;">
                  <table id="tableHijos" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>CI Madre</th>
                      <th>CI Padre</th>
                      <th>CI Hijo</th>
                      <th>1er Nombre</th>
                      <th>2do Nombre</th>
                      <th>1er Apellido</th>
                      <th>2do Apellido</th>
                      <th>F Nacimiento</th>
                      <th>F Vencimiento Acta</th>
                      <th>Nacionalidad</th>                  
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>CI Madre</th>
                      <th>CI Padre</th>
                      <th>CI Hijo</th>
                      <th>1er Nombre</th>
                      <th>2do Nombre</th>
                      <th>1er Apellido</th>
                      <th>2do Apellido</th>
                      <th>F Nacimiento</th>
                      <th>F Vencimiento Acta</th>
                      <th>Nacionalidad</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <!-- /.box -->
           </div>
           <!--research,courses and studies box-->
          </div>
          <!--+carg box-->
          
        </section>
        <div id="save" class="col-md-offset-4 col-md-4 hidden">
            <div class="form-group has-feedback">
                  <input id="submitData" type="button" class="btn btn-primary btn-block btn-flat" value="Guardar Datos"/>
            </div>
        </div>
      </div>
      <!--User data body-->
    </form>
{% endblock %}

{% block custom_javascripts %}
  <script src="{{ asset('assets/js/RegistroUnico/configTable.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/RegistrarDatos/iniRD.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/RegistrarDatos/showField.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/insertAndDeleteTable.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/RegistrarDatos/generate.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/RegistrarDatos/inputFile.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/RegistrarDatos/saveData.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/RegistrarDatos/showBoxes.js') }}"></script>
  <script src="{{ asset('assets/js/RegistroUnico/tableUsersCopy.js') }}"></script>
{% endblock %}
