{% extends '::base.html.twig' %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-solid box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><b>Solicitudes Comision de Servicio</b></h3>
            </div>

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <!--<div class="box">--->
                        <div class="box-tools pull-right">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="box-header">
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>ID</th>
                                    <th>Usuario</th>
                                    <th>Estado</th>
                                    <th>Razón</th>
                                </tr>
                                {% for tramite_comision in tramites_comision %}
                                    <tr>
                                        <td><a href="{{ path('comision_servicio_ver_solicitud', { 'id': tramite_comision.id }) }}">{{ tramite_comision.id }}</a></td>
                                        <td>{{ tramite_comision.getUsuarioId().getPrimerNombre() }} {{ tramite_comision.getUsuarioId().getPrimerApellido() }}</td>
                                        <td><span class="label label-success">{{ tramite_comision.getTransicion().getEstado() }}</span></td>
                                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <!--</div>-->
                        <!-- /.box -->
                    </div>
                </div>
            </section>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
{% endblock %}
