{% extends 'base.html.twig' %}

{% block content %}
    <section class="content-header">
        <h1>
            Solicitudes de Comisión de Servicio
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-fw fa-money"></i> Comisión de Servicio</li>
            <li class="active">Revisar Solicitudes</li>
            <li class="active">Solicitud {{ tramite.id }}</li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Solicitud Nº</h3>
                <input style="border: 0; background-color: white" type="button" id="numSolicitud" value="{{ tramite.id }}">
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Nombres y Apellidos</dt>
                    <dd>{{ tramite.getUsuarioId().getNombreCompleto() }}</dd>
                    <dt>Cédula de Identidad</dt>
                    <dd>{{ tramite.getUsuarioId().getCedula() }}</dd>
                    <dt>Nacionalidad</dt>
                    <dd>{{ tramite.getUsuarioId().getNacionalidad() }}</dd>
                    <dt>Correo</dt>
                    <dd>{{ tramite.getUsuarioId().getCorreo() }}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Recaudos</dt>
                    {% for recaudo in recaudos %}
                        <dd>
                        <a href="{{ asset('uploads/recaudos/' ~ recaudo) }}">
                            <button type="button" class="btn btn-default btn-block">{{ recaudo.getName() }}.{{ recaudo.getPath() }}</button>
                        </a>
                        </dd>
                    {% endfor %}
                </dl>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Dar razón</h3>

                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <div class="col-xs-4">
                    <h5><b>Estado</b></h5>
                    <div class="btn-group">
                        {% if tramite.getTransicion().getEstado() == "Pendiente" %}
                        <select id="estatus" class="btn dropdown-toggle btn-default">
                            <ul class="dropdown-menu" role="menu">
                                <option value="1">{{ tramite.getTransicion().getEstado() }}</option>
                                <option value="2">Negado</option>
                                <option value="3">Aprobado</option>
                            </ul>
                        </select><br><br>
                        {% else %}
                            <select disabled id="estatus" class="btn dropdown-toggle btn-default">
                                <ul class="dropdown-menu" role="menu">
                                    <option value="1">{{ tramite.getTransicion().getEstado() }}</option>
                                    <option value="2">Negado</option>
                                    <option value="3">Aprobado</option>
                                </ul>
                            </select><br><br>
                        {% endif %}
                        <!--TextBox1<br>
                        <input type="text" id="srt" placeholder="get value on option select"><br>-->
                    </div>
                </div>

                <div class="col-xs-4">
                    <h5><b>Motivo&nbsp;&nbsp;<span id="spanMotivo" class="label label-danger hide">Vacío</span></b></h5>
                    <input id="motivo" action="action_page.php" class="form-control" type="text" placeholder="Escribir...">
                </div>

                <div class="col-xs-4">
                    <h5>&nbsp;</h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">Enviar</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="enviarRespuesta" href="#">Profesor</a></li>
                            <li ><a href="{{ path('comision-servicio-informe') }}">AAPP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </section>

    {% block custom_javascripts %}
        <script>
            $("#enviarRespuesta").click(function (){

                toastr.clear();
                var text = "";

                var motivo = $('#motivo').val();
                var continua = true;

                if (motivo == ""){
                    continua = false;
                    $('#spanMotivo').removeClass("hide");
                    text = "Campo vacío";
                }

                if(continua){
                    $.ajax({
                        method: "POST",
                        data: {"Solicitud": document.getElementById("numSolicitud").value,
                            "Estatus": document.getElementById("estatus").value,
                            "Motivo": document.getElementById("motivo").value},
                        url:  "{{ path('jubilacion-insertar') }}",
                        dataType: 'json',
                        success: function(data)
                        {
                            if (data == "S"){

                                $('#spanMotivo').addClass("hide");
                                text = "Respuesta de solicitud enviada";

                                toastr.success(text, "Exito", {
                                    "timeOut": "0",
                                    "extendedTImeout": "0"
                                });
                            }
                            else{
                                $('#spanMotivo').addClass("hide");
                                text = "Error al enviar respuesta de solicitud";

                                toastr.error(text, "Error", {
                                    "timeOut": "0",
                                    "extendedTImeout": "0"
                                });
                            }
                        }
                    });
                }
                else{
                    toastr.error(text, "Error", {
                        "timeOut": "0",
                        "extendedTImeout": "0"
                    });
                }
            });
        </script>
    {% endblock %}
{% endblock %}

