<script type="text/javascript">

	var ident;
	var posicion;

	$( window ).load( function(){

	        toastr.clear();
	        var text = "";

		$.ajax({

			method:"POST",
			url: "{{ path('listadoConcursosAjax') }}",
			dataType: 'json',
	        success: function(data)
	        {
	            if (data == "N"){

	                text = "No Hay Concursos Registrados";

	                toastr.error(text, "Error", {
	                    "timeOut": "0",
	                    "extendedTImeout": "0"
	                 });

	            } else{                   

	                for (var i = 0; i <= data["vacantes"].length-1; i++) {

	                    var num = data["id"][i];

	                    tabla.row.add( {
	                        "inicio": data["inicio"][i],
	                        "vacantes": data["vacantes"][i],
	                        "area": data["area"][i],
	                        "doc": data["recepcion"][i],
	                        "pre": data["presentacion"][i],
	                        "ver": '<span class="glyphicon glyphicon-search" onclick="javascript:ver('+num+')"></span>',
	                        "modif": '<span class="glyphicon glyphicon-pencil" onclick="javascript:modificar('+num+','+i+')" data-toggle="modal" data-target="#myModal"></span>',
	                        "elim": '<span class="glyphicon glyphicon-trash" onclick="javascript:eliminar('+num+','+i+')" data-toggle="modal" data-target="#myModal"></span>'
	                    }).draw();                          
	                }                                             
	            }                       	
	        }
	    });
	});
	
	function ver(id){

		$('#jur').removeClass("hide");	
		$('#jurMensaje').addClass("hide");
		$('#jurTabla').addClass("hide"); 

	    ident = id;

	    $.ajax({

	        method:"POST",
	        url: "{{ path('listadoJuradosAjax') }}",
	        dataType: 'json',
	        data: {"id": id},
	        success: function(data)
	        {
	        	if (data == "N"){
	        	
	        		$('#jurMensaje').removeClass("hide");	
	        	
	        	} else {
	        	
	        		for (var i = 0; i <= data["nombre"].length-1; i++) {

	                        tabla1.row.add( {
	                            "nombre": data["nombre"][i],
	                            "apellido": data["apellido"][i],
	                            "areainvestigacion": data["areainvestigacion"][i],
	                            "facultad": data["facultad"][i],
	                            "universidad": data["universidad"][i]
	                            }).draw();                               
	                    }
	        	
	        		$('#jurTabla').removeClass("hide");   	
	        	}                                   
	        }
	    });
	}

	$("#eliminarConcurso").click(function(){

	    $.ajax({

	        method:"POST",
	        url: "{{ path('borrarConcursoAjax') }}",
	        dataType: 'json',
	        data: {"id": ident},
	        success: function(data)
	        {
	            if (data == "N"){

	                text = "Usted No Tiene Permiso";

	                toastr.error(text, "Error", {
	                    "timeOut": "0",
	                    "extendedTImeout": "0"
	                 });

	            } else {

	                text = "Concurso Eliminado";

	                toastr.success(text, "Exito", {
	                    "timeOut": "0",
	                    "extendedTImeout": "0"
	                 });

	                $('#myModal').modal('toggle');

	                tabla.clear().draw();
	
						$.ajax({

							method:"POST",
							url: "{{ path('listadoConcursosAjax') }}",
							dataType: 'json',
					        success: function(data)
					        {
				                for (var i = 0; i <= data["vacantes"].length-1; i++) {
			
				                    var num = data["id"][i];
			
				                    tabla.row.add( {
				                        "inicio": data["inicio"][i],
				                        "vacantes": data["vacantes"][i],
				                        "area": data["area"][i],
				                        "doc": data["recepcion"][i],
				                        "pre": data["presentacion"][i],
				                        "modif": '<span class="glyphicon glyphicon-pencil" onclick="javascript:modificar('+num+','+i+')" data-toggle="modal" data-target="#myModal"></span>',
				                        "elim": '<span class="glyphicon glyphicon-trash" onclick="javascript:eliminar('+num+','+i+')" data-toggle="modal" data-target="#myModal"></span>'
				                    }).draw();                          	                                                          
					            }                       	
					        }
					     });

	               ident = null; 
	               posicion = null;
	            }                                                               
	        }
	    });
	});

	function eliminar(id, pos){

	    ident = id;
	    posicion = pos;

	    $.ajax({

	        method:"POST",
	        url: "{{ path('buscarConcursoAjax') }}",
	        dataType: 'json',
	        data: {"id": id},
	        success: function(data)
	        {
	            if (data == "N"){

	                text = "No Se Encontró El Concurso";

	                toastr.error(text, "Error", {
	                    "timeOut": "0",
	                    "extendedTImeout": "0"
	                 });

	            } else{

	                $("#modif").addClass("hide");
	                $("#elim").removeClass("hide");

	                $("#modificarConcurso").addClass("hide");
	                $("#eliminarConcurso").removeClass("hide");                  
	                
	                document.getElementById("vacantes").value = data["vacantes"][0];
	                document.getElementById("usuario").value = data["usuario"][0];
	                document.getElementById("inicio").value = data["inicio"][0];
	                document.getElementById("area").value = data["area"][0];
	                document.getElementById("recepcion").value = data["recepcion"][0];
	                document.getElementById("presentacion").value = data["presentacion"][0];
	                document.getElementById("observacion").value = data["observacion"][0];           
	            }                           
	        }
	    });
	}

	$("#modificarConcurso").click(function(){

		toastr.clear();
        var text = "";

        var fecha = $('#inicio').val();
        var continua = true;

        $('#fi').removeClass("has-error");

        if (fecha == ""){

            continua = false;
            text = "Campo vacío";
            $('#fi').addClass("has-error");
        }

        var cedula = $('#vacantes').val();

        $('#fa').removeClass("has-error");

        if (cedula == "" || cedula == 0 || cedula == '0'){

            continua = false;
            $('#fa').addClass("has-error");
            text = "Campo vacío";
        }

        $('#fe').removeClass("has-error");

        if ($('#area').val() == ""){

            continua = false;
            $('#fe').addClass("has-error");
            text = "Campo vacío";
        }
        
        if (isNaN($('#vacantes').val())){
        
        	continua = false;
            $('#fa').addClass("has-error");
            text = "No Es Un Número";
        }
        
        if (continua) {
                
        	$.ajax({
        	
        	    method:"POST",
		        url: "{{ path('modificarConcursoAjax') }}",
		        dataType: 'json',
		        data: {"id": ident,
		        "Inicio":$("#inicio").val(), 
		        "Vacantes":$("#vacantes").val(), 
		        "Area":$("#area").val(), 
		        "fechaDoc":$("#recepcion").val(), 
		        "fechaPre":$("#presentacion").val(),
		        "observacion": $("#observacion").val()},
		        success: function(data)
		        {
		            if (data == "N"){
	
		                text = "Usted No Tiene Permiso";
	
		                toastr.error(text, "Error", {
		                    "timeOut": "0",
		                    "extendedTImeout": "0"
		                 });
	
		            } else {
	
		                text = "Concurso Modificado";
	
		                toastr.success(text, "Exito", {
		                    "timeOut": "0",
		                    "extendedTImeout": "0"
		                 });
	
		                $('#myModal').modal('toggle');
	
						tabla.clear().draw();
	
						$.ajax({

							method:"POST",
							url: "{{ path('listadoConcursosAjax') }}",
							dataType: 'json',
					        success: function(data)
					        {
				                for (var i = 0; i <= data["vacantes"].length-1; i++) {
			
				                    var num = data["id"][i];
			
				                    tabla.row.add( {
				                        "inicio": data["inicio"][i],
				                        "vacantes": data["vacantes"][i],
				                        "area": data["area"][i],
				                        "doc": data["recepcion"][i],
				                        "pre": data["presentacion"][i],
				                        "modif": '<span class="glyphicon glyphicon-pencil" onclick="javascript:modificar('+num+','+i+')" data-toggle="modal" data-target="#myModal"></span>',
				                        "elim": '<span class="glyphicon glyphicon-trash" onclick="javascript:eliminar('+num+','+i+')" data-toggle="modal" data-target="#myModal"></span>'
				                    }).draw();                          	                                                          
					            }                       	
					        }
					     });
	
		               ident = null; 
		               posicion = null;
		            }                                                               
		        }
		    });
        } else {
        
        	 toastr.error(text, "Error", {
                "timeOut": "0",
                "extendedTImeout": "0"
             });
        }
	});

	function modificar(id, pos){

	    ident = id;
	    posicion = pos;

	    $.ajax({

	        method:"POST",
	        url: "{{ path('buscarConcursoAjax') }}",
	        dataType: 'json',
	        data: {"id": id},
	        success: function(data)
	        {
	            if (data == "N"){

	                text = "No Se Encontró El Concurso";

	                toastr.error(text, "Error", {
	                    "timeOut": "0",
	                    "extendedTImeout": "0"
	                 });

	            } else{

	                $("#elim").addClass("hide");
	                $("#modif").removeClass("hide");

	                $("#eliminarConcurso").addClass("hide");
	                $("#modificarConcurso").removeClass("hide");                  
	                
	                document.getElementById("vacantes").value = data["vacantes"][0];
	                document.getElementById("usuario").value = data["usuario"][0];
	                document.getElementById("inicio").value = data["inicio"][0];
	                document.getElementById("area").value = data["area"][0];
	                document.getElementById("recepcion").value = data["recepcion"][0];
	                document.getElementById("presentacion").value = data["presentacion"][0];
	                document.getElementById("observacion").value = data["observacion"][0];
	            }                           
	        }
	        });
	}

	function justNumbers(e){

	    var keynum = window.event ? window.event.keyCode : e.which;

	    if (keynum == 8 || keynum == 46){
	        return true;
	    }
	    else return /\d/.test(String.fromCharCode(keynum));
	}
	
	$("#personal").click(function(){
	    
	});

</script>